<th:block th:fragment="copy">
  <form method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/set}">
    <div class="row">
      <div class="col-25">
        <label for="protocol">protocol</label>
      </div>
      <div class="col-75">
        <input type="text" name="protocol" th:value="${setting.protocol}" class="form-control" id="protocol" placeholder="Protocol">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="host">Host</label>
      </div>
      <div class="col-75">
        <input type="text" name="host" th:value="${setting.host}" class="form-control" id="host" placeholder="Host">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="port">Port</label>
      </div>
      <div class="col-75">
        <input type="text" name="port" th:value="${setting.port}" class="form-control" id="port" placeholder="Port">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      <div class="col-75">
        <input type="text" name="username" th:value="${setting.username}" class="form-control" id="username" placeholder="Username">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="password">Password</label>
      </div>
      <div class="col-75">
        <input type="text" name="password" th:value="${setting.password}" class="form-control" id="password" placeholder="password">
      </div>
    </div>
  </form>

  <button type="submit" onclick="submit_setting(this);">Salvar</button>

  <div class="alert-ok" id="ok" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Sucesso!</strong> Configura&ccedil;&otilde;es salvas com sucesso!
  </div>

  <div class="alert-error" id="error" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Erro!</strong> Ocorreu um erro ao salvar as configura&ccedil;&otilde;es!
  </div>
</th:block>
