<th:block th:fragment="copy">
  <form method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/set}">
    <table>
      <tr>
        <td>
          <select multiple="multiple" size="15" class="form-control" id="selectRight">
            <option th:each="option : ${lista_de_idiomas}" th:unless="${#lists.contains(idiomas.listaDeIdiomas, option)}" th:text="${option}"><option>
          </select>
        </td>
        <td>
          <p> <button type="button" class="btn btn-dark" id="right"> &gt;&gt; </button> </p>
          <p> <button type="button" class="btn btn-dark" id="left"> &lt;&lt; </button> </p>
        </td>
        <td>
          <select multiple="multiple" size="15" class="form-control" id="selectLeft" name="listaDeIdiomas">
            <option th:each="option : ${lista_de_idiomas}" th:if="${#lists.contains(idiomas.listaDeIdiomas, option)}" th:text="${option}"><option>
          </select>
        </td>
      </tr>
    </table>
  </form>

  <button type="submit" onclick="submit_setting(this);">Salvar</button>

  <div class="alert-ok" id="ok" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Sucesso!</strong> Configura&ccedil;&otilde;es salvas com sucesso!
  </div>

  <div class="alert-error" id="error" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Erro!</strong> Ocorreu um erro ao salvar as configura&ccedil;&otilde;es!
  </div>
</th:block>
