<th:block th:fragment="copy">
  <form class="form-container" id="form" method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/set}">
    <div class="row">
      <div class="col-25">
        <label for="publicKey">publicKey</label>
      </div>
      <div class="col-75">
        <input type="text" name="publicKey" th:value="${setting.publicKey}" class="form-control" id="publicKey" placeholder="publicKey">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="accessToken">accessToken</label>
      </div>
      <div class="col-75">
        <input type="text" name="accessToken" th:value="${setting.accessToken}" class="form-control" id="accessToken" placeholder="accessToken">
      </div>
    </div>
  </form>

  <button type="submit" class="submit" onclick="submit_setting(this);">Salvar</button>

  <div class="alert-ok" id="ok" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Sucesso!</strong> Configura&ccedil;&otilde;es salvas com sucesso!
  </div>

  <div class="alert-error" id="error" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Erro!</strong> Ocorreu um erro ao salvar as configura&ccedil;&otilde;es!
  </div>
</th:block>
