<th:block th:fragment="copy">
  <form class="form-container" id="form" method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/set}">
    <div class="row">
      <div class="col-25">
        <label for="clientId">client-id</label>
      </div>
      <div class="col-75">
        <input type="text" name="clientId" th:value="${setting.clientId}" class="form-control" id="clientId" placeholder="ClientID">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="clientSecret">client-secret</label>
      </div>
      <div class="col-75">
        <input type="text" name="clientSecret" th:value="${setting.clientSecret}" class="form-control" id="clientSecret" placeholder="clientSecret">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="email">e-mail</label>
      </div>
      <div class="col-75">
        <input type="email" name="email" th:value="${setting.email}" class="form-control" id="email" placeholder="e-mail">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="token">token</label>
      </div>
      <div class="col-75">
        <input type="text" name="token" th:value="${setting.token}" class="form-control" id="token" placeholder="token">
      </div>
    </div>
  </form>

  <button type="submit" onclick="submit_setting(this);">Salvar</button>

  <div class="alert-ok" id="ok" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Sucesso!</strong> Configura&ccedil;&otilde;es salvas com sucesso!
  </div>

  <div class="alert-error" id="error" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Erro!</strong> Ocorreu um erro ao salvar as configura&ccedil;&otilde;es!
  </div>
</th:block>
