<!doctype html>
<html lang="pt-br">
  <body>
    <div class="container" id="container">
      <form class="form" id="form" method="post" th:action="@{/__${target}__/__${action}__}" th:object="${command}">
        <input type="hidden" th:field="*{id}"/>

        <th:block th:switch="${target}">
          <th:block th:case="'categoria'">
            <th:block th:replace="admin/delete/categoria :: copy"></th:block>
          </th:block>

          <th:block th:case="'pagina'">
            <th:block th:replace="admin/delete/pagina :: copy"></th:block>
          </th:block>

          <th:block th:case="'pedido'">
            <th:block th:replace="admin/delete/pedido :: copy"></th:block>
          </th:block>

          <th:block th:case="'produto'">
            <th:block th:replace="admin/delete/produto :: copy"></th:block>
          </th:block>

          <th:block th:case="'usuario'">
            <th:block th:replace="admin/delete/usuario :: copy"></th:block>
          </th:block>
        </th:block>

        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-primary" onclick="submit()">Sim</button>
            </div>

            <div class="col-sm"></div>

            <div class="col-sm">
              <button type="button" class="btn btn-danger" onclick="close_tab(this)">Não</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
