<!doctype html>
<html lang="pt-br">
  <body>
    <div class="container" id="container">
      <form class="form" id="form" method="post" th:action="@{/__${target}__/__${action}__}" th:object="${command}">
        <input type="hidden" th:field="*{id}" class="form-control" id="id"/>

        <th:block th:switch="${target}">
          <th:block th:case="'categoria'">
            <th:block th:replace="admin/form/categoria :: copy"></th:block>
          </th:block>

          <th:block th:case="'pagina'">
            <th:block th:replace="admin/form/pagina :: copy"></th:block>
          </th:block>

          <th:block th:case="'pedido'">
            <th:block th:replace="admin/form/pedido :: copy"></th:block>
          </th:block>

          <th:block th:case="'produto'">
            <th:block th:replace="admin/form/produto :: copy"></th:block>
          </th:block>

          <th:block th:case="'usuario'">
            <th:block th:replace="admin/form/usuario :: copy"></th:block>
          </th:block>
        </th:block>

        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-danger" onclick="close_tab()">Fechar</button>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary" onclick="submit()">Aplicar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
