<!doctype html>
<html lang="pt-br">
  <body>
    <div class="container" id="form-container">
      <form th:if="${#strings.equals(classe.simpleName, 'Categoria')}" method="post" th:action="@{/categoria/__${action}__}">
        <div th:replace="admin/form/categoria :: copy"></div>
      </form>

      <form th:if="${#strings.equals(classe.simpleName, 'Produto')}" method="post" th:action="@{/produto/__${action}__}">
        <div th:replace="admin/form/produto :: copy"></div>
      </form>

      <form th:if="${#strings.equals(classe.simpleName, 'Pagina')}" method="post" th:action="@{/pagina/__${action}__}">
        <div th:replace="admin/form/pagina :: copy"></div>
      </form>

      <form th:if="${#strings.equals(classe.simpleName, 'Usuario')}" method="post" th:action="@{/usuario/__${action}__}">
        <div th:replace="admin/form/usuario :: copy"></div>
      </form>

      <form th:if="${#strings.equals(classe.simpleName, 'Pedido')}" method="post" th:action="@{/pedido/__${action}__}">
        <div th:replace="admin/form/pedido :: copy"></div>
      </form>

      <div class="row">
        <div class="col">
          <button class="submit" th:if="${#strings.equals(action, 'insert')}" onclick="cancel_insert(this);">Cancelar</button>
          <button class="submit" th:if="${#strings.equals(action, 'update')}" th:attr="data-id=${command.id}" onclick="cancel_update(this);">Cancelar</button>
        </div>
        <div class="col">
          <button class="submit" th:if="${#strings.equals(action, 'insert')}" onclick="submit_insert(this);">Aplicar</button>
          <button class="submit" th:if="${#strings.equals(action, 'update')}" th:attr="data-id=${command.id}" onclick="submit_update(this);">Aplicar</button>
        </div>
      </div>
    </div>
  </body>
</html>
