<th:block th:fragment="copy">
<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link th:href="@{/css/style-admin.css}" rel="stylesheet">
  </head>

  <body onload="load_content()">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/}" th:text="${geral.titulo}"></a>
      <ul class="navbar-nav px-3">
        <li class="nav-item" style="display: inline;">
          <a class="nav-link" th:href="@{/messages}"> <i class="fas fa-envelope"></i> <span class="badge badge-secondary" id="msg">0</span> </a>
        </li>
        <li class="nav-item" style="display: inline;">
          <a class="nav-link" th:href="@{/logout}"> <i class="fas fa-sign-out-alt"></i> </a>
        </li>
      </ul>
    </nav>
<th:block>
