<th:block th:fragment="copy">
  <div class="container" id="container" th:attr="data-map=@{/img/worldmap.svg}">
    <h4>Inicio</h4>

    <hr/>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <span class="badge badge-secondary">Pro</span>

          <small>
            <div class="row">
              <div class="col-2">
                Categoria:
              </div>

              <div class="col-2">
                <select class="form-control" id="cat_pro" data-target="prodpro" th:attr="data-url=@{/produto/listBy.json}" onchange="fill_produtos(this);">
                  <option value="*">Todas</option>
                  <option th:each="option : ${categorias}" th:value="${option.id}">
                    <span th:each="t : ${option.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:href="@{/categoria/__${t.conteudo}__}" th:text="${t.conteudo}"></span>
                  </option>
                </select>
              </div>

              <div class="col-2">
                Produto:
              </div>

              <div class="col-2">
                <select class="form-control" id="prodpro">
                  <option id="all" value="*">Todos</option>
                  <option th:each="option : ${produtos}" th:value="${option.id}" th:text="${option.nome}"></option>
                </select>
              </div>

              <div class="col-2">
                Periodo:
              </div>

              <div class="col-1">
                <input type="date" class="form-control" id="pro_data_inicial"/>
              </div>

              <div class="col-1">
                <input type="date" class="form-control" id="pro_data_final"/>
              </div>
            </div>
          </small>
        </h4>
      </div>

      <div class="card-body">
        <canvas class="graph" id="canvas_pro" width="1080" height="720"></canvas>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Acessos / Compras - Versão Pro</h4>
      </div>
      <div class="card-body">
        <canvas class="map" id="map_compras" width="1080" height="720"></canvas>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <span class="badge badge-secondary">Lite</span>

          <small>
            <div class="row">
              <div class="col-2">
                Categoria:
              </div>

              <div class="col-2">
                <select class="form-control" id="cat_lite" data-target="prodlite" th:attr="data-url=@{/produto/listBy.json}" onchange="fill_produtos(this);">
                  <option value="*">Todas</option>
                  <option th:each="option : ${categorias}" th:value="${option.id}">
                    <span th:each="t : ${option.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:href="@{/categoria/__${t.conteudo}__}" th:text="${t.conteudo}"></span>
                  </option>
                </select>
              </div>

              <div class="col-2">
                Produto:
              </div>

              <div class="col-2">
                <select class="form-control" id="prodlite">
                  <option id="all" value="*">Todos</option>
                  <option th:each="option : ${produtos}" th:value="${option.id}" th:text="${option.nome}"></option>
                </select>
              </div>

              <div class="col-2">
                Periodo:
              </div>

              <div class="col-1">
                <input type="date" class="form-control" id="lite_data_inicial"/>
              </div>

              <div class="col-1">
                <input type="date" class="form-control" id="lite_data_final"/>
              </div>
            </div>
          </small>
        </h4>
      </div>

      <div class="card-body">
        <canvas class="graph" id="canvas_lite" width="1080" height="720"></canvas>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Acessos / Download - Versão Lite</h4>
      </div>
      <div class="card-body">
        <canvas class="map" id="map_acessos" width="1080" height="720"></canvas>
      </div>
    </div>
  </div>
</th:block>
