<div th:replace="admin/header :: copy"></div>

<div th:replace="admin/navbar :: copy"></div>

<div class="container-fluid">
  <div class="row">
    <div th:replace="admin/sidebar :: copy"></div>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" th:if="${classe == null and setting == null}">
    </main>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" th:if="${classe != null}">
      <div th:replace="admin/list :: copy"></div>
    </main>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" th:if="${setting != null}">
      <div th:replace="admin/settings :: copy"></div>
    </main>
  </div>
</div>

<div th:replace="admin/footer :: copy"></div>
