<th:block th:fragment="copy">
  <th:block th:each="t : ${unread}">
    <div class="alert alert-light" role="alert">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            Publicado por <strong th:text="${t.autor}"></strong> em <strong th:text="${#dates.format(t.dataPublicacao, 'dd/MMM/yyyy HH:mm')}"></strong>
          </div>
          <div class="col-sm-8">
            <i th:text="${t.titulo}"></i>
          </div>
          <div class="col-sm-2">
            <a class="btn btn-dark" href="#" th:attr="data-message=${t.id}" onclick="view_message(this);">Ver</a>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron" th:id="${'message-' + t.id}" style="display: none;">
      <h1 class="display-4" th:text="${t.titulo}"></h1>
      <p class="lead" th:text="${t.descricao}"></p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#" role="button" th:attr="data-message=${t.id}" onclick="responder_message(this);">Responder</a>
    </div>

    <div class="jumbotron" th:id="${'resposta-message-' + t.id}" style="display: none;">
      <input type="hidden" name="titulo" th:value="${t.titulo}">
      <textarea name="descricao" rows="8" cols="80" class="sumernote"></textarea>
      <input type="hidden" name="dataPublicacao" th:value="${#dates.createNow()}">
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#" role="button" th:attr="data-message=${t.id}, data-url=@{/message/set}" onclick="submit_resposta(this);">Responder</a>
    </div>
  </th:block>
</th:block>
