<th:block th:fragment="copy">
  <h4>Messagens</h4>

  <hr>

  <div th:each="item : ${unread}" class="alert alert-secondary" th:id="${'message-'+item.id}" role="alert">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <span th:text="${item.titulo}"></span>
        </div>
        <div class="col-sm-2">
          <span th:text="${item.autor}"></span>
        </div>
        <div class="col-sm-2">
          <table>
            <tr>
              <td> <button type="button" th:attr="data-target=${item.id}" onclick="view_message(this)" class="btn btn-dark">Visualizar</button> </td>
              <td> <button type="button" th:attr="data-target=${item.id}" onclick="responder_message(this)" class="btn btn-dark">Responder</button> </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row jumbotron" th:id="${'view_message_' + item.id}" style="display: none;">
        <p class="lead" th:utext="${item.descricao}"></p>
        <hr/>
        <p class="lead" th:text="${'Publicado em ' + #dates.format(item.dataPublicacao, 'dd/MMM/yyyy HH:mm') + ' por ' + item.autor}"></p>
      </div>

      <div class="row jumbotron" th:id="${'resposta_message_' + item.id}" style="display: none;">
        <form class="form" action="#" method="post">
          <div class="form-group">
            <label>Titulo</label>
            <input type="text" class="form-control" name="titulo"/>
          </div>

          <div class="form-group">
            <label>Descrição</label>
            <textarea class="summernote" name="descricao"></textarea>
          </div>

          <input type="hidden" name="dataPublicacao" th:value="${#dates.createNow()}"/>
        </form>

        <button type="button" th:attr="data-url=@{/topic/add_resposta}, data-target=${item.id}" onclick="submit_resposta(this)" class="btn btn-dark">Enviar</button>
      </div>
    </div>
  </div>
</th:block>
