<th:block th:fragment="copy">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}" th:text="${geral.titulo}"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pl-3" id="navbar">
      <ul class="navbar-nav mr-auto"></ul>

      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/messages}">
            <i class="far fa-envelope"></i> <span class="badge badge-secondary" id="message_count" th:text="${#lists.size(unread)}"></span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" th:text="${usuario}"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</th:block>
