<th:block th:fragment="copy">
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a th:class="${classe == null} ? 'nav-link active' : 'nav-link'" th:href="@{/admin}">
          <i class="fas fa-home"></i>
          in&iacute;cio
        </a>
      </li>

      <li class="nav-item" sec:authorize="hasPermission(#user, 'consulta_categoria')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Categoria')}? 'nav-link active' : 'nav-link'" th:href="@{/categoria/}">
          <i class="fas fa-list-alt"></i>
          categorias
        </a>
      </li>

      <li class="nav-item" sec:authorize="hasPermission(#user, 'consulta_produto')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Produto')}? 'nav-link active' : 'nav-link'" th:href="@{/produto/}">
          <i class="fas fa-box"></i>
          produtos
        </a>
      </li>

      <li class="nav-item" sec:authorize="hasPermission(#user, 'consulta_pedido')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Pedido')}? 'nav-link active' : 'nav-link'" th:href="@{/pedido/}">
          <i class="fas fa-shopping-bag"></i>
          pedidos
        </a>
      </li>

      <li class="nav-item" sec:authorize="hasPermission(#user, 'consulta_cliente')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Cliente')}? 'nav-link active' : 'nav-link'" th:href="@{/cliente/}">
          <i class="fas fa-users"></i>
          clientes
        </a>
      </li>

      <li class="nav-item" sec:authorize="hasPermission(#user, 'consulta_pagina')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Pagina')}? 'nav-link active' : 'nav-link'" th:href="@{/pagina/}">
          <i class="fas fa-file-alt"></i>
          p&aacute;ginas
        </a>
      </li>

      <li class="nav-item" sec:authorize="hasPermission(#user, 'consulta_usuario')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Usuario')}? 'nav-link active' : 'nav-link'" th:href="@{/usuario/}">
          <i class="fas fa-users"></i>
          usu&aacute;rios
        </a>
      </li>
    </ul>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a th:class="${setting != null and #strings.equals(setting.simpleName, 'Geral')}? 'nav-link active' : 'nav-link'" th:href="@{/geral/get}" tabindex="-1" aria-disabled="true">
          <i class="fas fa-cog"></i>
          Geral
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${setting != null and #strings.equals(setting.simpleName, 'Email')}? 'nav-link active' : 'nav-link'" th:href="@{/email/get}" tabindex="-1" aria-disabled="true">
          <i class="fas fa-at"></i>
          Email
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${setting != null and #strings.equals(setting.simpleName, 'Idiomas')}? 'nav-link active' : 'nav-link'" th:href="@{/idiomas/get}" tabindex="-1" aria-disabled="true">
          <i class="fas fa-globe-americas"></i>
          Idiomas
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${setting != null and #strings.equals(setting.simpleName, 'Paypal')}? 'nav-link active' : 'nav-link'" th:href="@{/paypal/get}" tabindex="-1" aria-disabled="true">
          <i class="fab fa-paypal"></i>
          Paypal
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${setting != null and #strings.equals(setting.simpleName, 'MercadoPago')}? 'nav-link active' : 'nav-link'" th:href="@{/mercadopago/get}" tabindex="-1" aria-disabled="true">
          <i class="fas fa-credit-card"></i>
          MercadoPago
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${setting != null and #strings.equals(setting.simpleName, 'PagSeguro')}? 'nav-link active' : 'nav-link'" th:href="@{/pagseguro/get}" tabindex="-1" aria-disabled="true">
          <i class="fas fa-credit-card"></i>
          PagSeguro
        </a>
      </li>
    </ul>
  </div>
</nav>
</th:block>
