<th:block th:fragment="copy">
  <div class="sidebar">
    <ul>
      <li>
        <a th:class="${classe == null} ? 'active' : ''" th:href="@{/admin}">
          in&iacute;cio
        </a>
      </li>

      <li sec:authorize="hasPermission(#user, 'consulta_categoria')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Categoria')}? 'active' : ''" th:href="@{/categoria/}">
          categorias
        </a>
      </li>

      <li sec:authorize="hasPermission(#user, 'consulta_produto')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Produto')}? 'active' : ''" th:href="@{/produto/}">
          produtos
        </a>
      </li>

      <li sec:authorize="hasPermission(#user, 'consulta_pagina')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Pagina')}? 'active' : ''" th:href="@{/pagina/}">
          p&aacute;ginas
        </a>
      </li>
    </ul>

    <hr/>

    <ul>
      <li>
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Geral')}? 'active' : ''" th:href="@{/geral/get}" tabindex="-1" aria-disabled="true">
          Geral
        </a>
      </li>

      <li>
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Email')}? 'active' : ''" th:href="@{/email/get}" tabindex="-1" aria-disabled="true">
          Email
        </a>
      </li>

      <li>
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Idiomas')}? 'active' : ''" th:href="@{/idiomas/get}" tabindex="-1" aria-disabled="true">
          Idiomas
        </a>
      </li>

      <li>
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Paypal')}? 'active' : ''" th:href="@{/paypal/get}" tabindex="-1" aria-disabled="true">
          Paypal
        </a>
      </li>

      <li>
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'MercadoPago')}? 'active' : ''" th:href="@{/mercadopago/get}" tabindex="-1" aria-disabled="true">
          MercadoPago
        </a>
      </li>

      <li>
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'PagSeguro')}? 'active' : ''" th:href="@{/pagseguro/get}" tabindex="-1" aria-disabled="true">
          PagSeguro
        </a>
      </li>
    </ul>

    <hr/>

    <ul>
      <li sec:authorize="hasPermission(#user, 'consulta_usuario')">
        <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Usuario')}? 'active' : ''" th:href="@{/usuario/}">
          usu&aacute;rios
        </a>
      </li>
    </ul>
  </div>
</th:block>
