<th:block th:fragment="copy">
  <div class="media">
    <h1> <i class="fas fa-shopping-cart"></i> </h1>
    <div class="media-body">
      <h5 class="mt-0">Cesta de compras</h5>
      <span id="cart_status"></span>
    </div>
  </div>

  <table th:style="${cliente.cesta}? 'display: block': 'display: none'" class="table" id="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Preco</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody th:if="${cliente.cesta}">
      <tr th:each="p,stat : ${cliente.cesta.produtos}" th:id="${'produto_' + p.id}">
        <td scope="row" th:text="${stat.count}"></td>
        <td>
          <div class="media">
            <img th:if="${p.icone}" th:src="@{/imagem/download/__${p.icone.id}__}" width="64" height="64" class="mr-3" th:alt="${p.nome}">
            <h1 th:unless="${p.icone}"> <i class="fas fa-box"></i> </h1>
            <div class="media-body">
              <h5 class="mt-0" th:text="${p.nome}"></h5>
              <span th:each="t : ${p.resumo}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:utext="${t.conteudo}"></span>
            </div>
          </div>
        </td>
        <td th:text="${#numbers.formatCurrency(p.preco)}"></td>
        <td>
          <button type="button" class="btn btn-dark" th:attr="data-cliente=${cliente.id}, data-produto=${p.id}, data-url=@{/cliente/remove_from_cart}" onclick="remove_from_cart(this)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>
          <h1>Total <span th:attr="data-cliente=${cliente.id}, data-url=@{/cliente/cart_total}" class="badge badge-secondary" id="cart_total"></span></h1>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>
          <form th:action="@{/paypal/checkout}" method="POST">
            <input type="hidden" name="usuario_id" th:value="${usuario.id}"/>
            <button type="submit" class="btn btn-primary">Finalizar compra com PayPal</button>
          </form>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>
          <form th:action="@{/mercadopago/checkout}" method="POST">
            <input type="hidden" name="usuario_id" th:value="${usuario.id}"/>
            <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js" th:attr="data-preference-id=${mercadoPagoPreference}" data-button-label="Finalizar compra com MercadoPago"></script>
          </form>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>
          <form th:action="@{/pagseguro/checkout}" method="POST">
            <input type="hidden" name="usuario_id" th:value="${usuario.id}"/>
            <button type="submit" class="btn btn-primary">Finalizar compra com PagSeguro</button>
          </form>
        </td>
      </tr>
    </tfoot>
  </table>
</th:block>
