<th:block th:fragment="copy">
<section>
  <div class="media">
    <img th:src="@{/images/icon_cart.png}" width=64 height=64 class="mr-3" alt="cesta de compras">
    <div class="media-body">
      <h5 class="mt-0">Cesta de compras</h5>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Pre&ccedil;o</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody th:if="${usuario.cesta}">
      <tr th:each="produto : ${usuario.cesta.produtos}" th:id="${'produto_' + produto.id}">
        <th scope="row" id="cart_list" th:style="${#lists.isEmpty(usuario.cesta.produtos)}? 'display: none;': ''">
          <img th:if="${produto.icone}" th:src="@{/imagem/download/__${produto.icone.id}__}" width=64 height=64 class="mr-3" th:alt="${produto.nome}"/>
          <img th:unless="${produto.icone}" th:src="@{/images/icon_product.png}" width=64 height=64 class="mr-3" th:alt="${produto.nome}"/>
        </th>
        <td th:text="${produto.nome}"></td>
        <td th:text="${#numbers.formatCurrency(produto.preco)}"></td>
        <td>
          <button class="btn btn-secondary" onclick="remove_from_cart(this)" th:attr="data-usuario=${usuario.id}, data-produto=${produto.id}, data-url=@{/usuario/remove_from_cart}" type="button">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr scope="row" id="empty_cart" th:style="${#lists.isEmpty(usuario.cesta.produtos)}? '': 'display: none;'">
        <th colspan="4">Cesta de compras vazia</th>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td><h3>Total:<span class="badge badge-secondary" id="cart_total" th:attr="data-usuario=${usuario.id}, data-url=@{/usuario/cart_total}"></span></h3></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <a th:href="@{/usuario/checkout_paypal?usuario_id=__${usuario.id}__}" class="btn btn-secondary">Finalizar compra com PayPal</a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <form th:action="@{/usuario/checkout_mercadopago}" method="POST">
            <input type="hidden" name="usuario_id" th:value="${usuario.id}"/>
            <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js" th:attr="data-preference-id=${preference.id}" data-button-label="Finalizar compra com MercadoPago"></script>
          </form>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <a th:href="@{/usuario/checkout_pagseguro?usuario_id=__${usuario.id}__}" class="btn btn-secondary">Finalizar compra com PagSeguro</a>
        </td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</section>
</th:block>
