<th:block th:fragment="copy">
  <div class="container">
    <div class="row">
      <h3>
        <th:block th:if="${categoria.icone}">
          <img th:src="@{/imagem/download/__${categoria.icone.id}__}" width=64 height=64 th:alt="${categoria.nome}"/>
        </th:block>

        <th:block th:unless="${categoria.icone}">
          <i class="fas fa-object-group"></i>
        </th:block>

        <span th:each="t : ${categoria.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${t.conteudo}"></span>
      </h3>

      <div class="row">
        <div class="row">
          <div class="col-sm" th:each="p : ${produtos}" th:if="${#strings.equals(p.categoria, c)}">
            <div class="card" style="width: 18rem;">
              <th:block th:if="${p.icone}">
                <img th:src="@{/imagem/download/__${p.icone.id}__}" class="card-img-top" th:alt="${p.nome}">
              </th:block>

              <th:block th:unless="${p.icone}">
                <i class="fas fa-box"></i>
              </th:block>
              
              <div class="card-body">
                <h5 class="card-title" th:text="p.nome"></h5>
                <p class="card-text" th:each="r : ${p.resumo}" th:if="${#strings.equals(#strings.substringBefore(r.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${r.conteudo}"></p>
                <a class="btn btn-primary" th:each="t : ${p.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:href="@{/p/__${t.conteudo}__}">Ver detalhes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</th:block>
