<th:block th:fragment="copy">
  <div class="media">
    <svg class="bd-placeholder-img mr-3" width="128" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Fórum</text></svg>
    <div class="media-body">
      <th:block th:each="produto : ${produtos}" th:if="${produto.forum.id == forum.id}">
        <h5 class="mt-0">Suporte ao produto <u th:text="${produto.nome}"></u></h5>
        <th:block sec:authorize="isAuthenticated()">
          <th:block th:if="${#lists.contains(cliente.produtosComprados(), produto)}">
            <a th:href="@{/topic/new?forum=__${forum.id}__}" class="btn btn-dark">Novo tópico</a> <a th:href="@{/produto/__${produto.nome}__}" class="btn btn-primary">Voltar</a>
          </th:block>
          <th:block th:unless="${#lists.contains(cliente.produtosComprados(), produto)}">
            <span>Criação de novos tópicos exclusivo para usuário da versão Pro deste produto</span> <a th:href="@{/produto/__${produto.nome}__}" class="btn btn-primary">Voltar</a>
          </th:block>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
          <span>Criação de novos tópicos exclusivo para usuário da versão Pro deste produto</span> <a th:href="@{/produto/__${produto.nome}__}" class="btn btn-primary">Voltar</a>
        </th:block>
      </th:block>
    </div>
  </div>

  <div th:each="item : ${forum.topicos}" class="alert alert-secondary" role="alert">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <span th:text="${item.titulo}"></span>
        </div>
        <div class="col-sm-2">
          <span th:text="${item.autor}"></span>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-dark" th:href="@{/topic/view?id=__${item.id}__}">Visualizar</a>
        </div>
      </div>
    </div>
  </div>
</th:block>
