<th:block th:fragment="copy">
  <div class="row">
    <h3 class="row_title">
      <span>F&oacute;rum</span>
      <th:block th:each="produto : ${produtos}">
        <th:block th:if="${#string.equals(produto.forum.id, forum.id)}">
          <small th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:utext="${t.conteudo}"></small>
        <th:block>
      </th:block>
    </h3>

    <div class="col"></div>

    <div class="col"></div>

    <div class="col"></div>

    <div class="col">
      <a th:href="@{/topic/new}" class="button">Novo t&oacute;pico</a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="topic : ${forum.topicos}">
        <td th:text="${topic.id}"></td>
        <td th:text="${topic.titulo}"></td>
        <td th:text="${topic.autor}"></td>
        <td> <a class="button" th:href="@{/topic/view/__${topic.id}__}">Ver</a> </td>
      </tr>
    </tbody>
  </table>
</th:block>
