<th:block th:fragment="copy">
<div class="row no-gutters" th:each="c : ${categorias}">
  <div class="jumbotron">
    <div class="media">
      <img th:if="${c.icone}" th:src="@{/download/imagem/__${c.icone.id}__}" width=64 height=64 class="mr-3" th:alt="${c.nome}">
      <img th:unless="${c.icone}" th:src="@{/images/icon_category.png}" width=64 height=64 class="mr-3" th:alt="${c.nome}">
      <div class="media-body">
        <h5 th:each="t : ${c.nome}" th:if="${#strings.equals(t.idioma, #locale)}" class="mt-0" th:text="${t.conteudo}"></h5>
        <span th:each="r : ${c.resumo}" th:if="${#strings.equals(r.idioma, #locale)}" th:text="${r.conteudo}"></span>
        <a th:each="t : ${c.nome}" th:if="${#strings.equals(t.idioma, #locale)}" class="btn btn-link" th:href="@{/c/__${t.conteudo}__}" role="button">Mais</a>
      </div>
    </div>
  </div>

  <div class="col" th:each="p,stat : ${produtos}" th:if="${#strings.equals(p.categoria, c) and stat.index < 3}">
    <div class="card" style="width: 18rem;">
      <img th:if="${p.icone}" th:src="@{/imagem/download/__${p.icone.id}__}" width=64 height=64 class="mr-3" th:alt="${p.nome}"/>
      <img th:unless="${p.icone}" th:src="@{/images/icon_product.png}" width=64 height=64 class="mr-3" th:alt="${p.nome}"/>
      <div class="card-body">
        <h5 class="card-title" th:text="${p.nome}"></h5>
        <p class="card-text" th:text="${p.resumo}"></p>
        <a th:href="@{/p/__${p.nome}__}" class="btn btn-primary">Ver detalhes</a>
      </div>
    </div>
  </div>
</div>
</th:block>
