<th:block th:fragment="copy">
  <div class="row">
    <h3 class="row_title">
      Pedido <strong th:text="${order.transactionId}"></strong> realizado com <strong th:text="${order.metodoPagamento}"></strong> em <strong th:text="${#dates.format(order.dataCompra)}"></strong>
    </h3>
  </div>

  <div class="col"></div>

  <div class="col"></div>

  <div class="col"></div>

  <div class="col"></div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Resumo</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="produto : ${order.produtos}">
        <td>
          <th:block th:if="${produto.icone}">
            <img th:src="@{/imagem/download/__${produto.icone.id}__}" class="mr-3" width=64 height=64 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:alt="${t.conteudo}"/>
          </th:block>
          <th:block th:unless="${produto.icone}">
            <img th:src="@{/images/icon_product.png}" class="mr-3" width=64 height=64 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:alt="${t.conteudo}"/>
          </th:block>
        </td>

        <td>
          <h5 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${t.conteudo}"></h5>
        </td>

        <td>
          <span th:each="r : ${produto.resumo}" th:if="${#strings.equals(#strings.substringBefore(r.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${r.conteudo}"></span>
        </td>

        <td>
          <div class="dropdown">
            <span>Baixar</span>
            <div class="dropdown-content">
              <a th:each="arquivo : ${produto.versaoPaga}" th:href="@{/arquivo/download/__${arquivo.id}__}" th:text="${arquivo.type}"></a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</th:block>
