<th:block th:fragment="copy">
<section>
  <div class="card">
    <div class="card-header">
      Pedido #<span th:text="${order.id}"></span> de <span th:text="${#dates.format(order.dataCompra)}"></span>
    </div>
    <div class="card-body">
      <div class="card" th:each="produto : ${order.produtos}">
        <div class="card-body">
          <div class="media">
            <th:block th:if="${produto.icone}">
              <img th:src="@{/imagem/download/__${produto.icone.id}__}" class="mr-3" width=64 height=64 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:alt="${t.conteudo}"/>
            <th:block>
            <th:block th:unless="${produto.icone}">
              <img th:src="@{/images/icon_product.png}" class="mr-3" width=64 height=64 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:alt="${t.conteudo}"/>
            <th:block>
            <div class="media-body" th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${t.conteudo}"">
              <h5 class="mt-0" th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${t.conteudo}"></h5>
              <th:block th:each="r : ${produto.resumo}" th:if="${#strings.equals(#strings.substringBefore(r.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${r.conteudo}"></th:block>
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Baixar
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a th:each="arquivo : ${produto.versaoPaga}" class="dropdown-item" th:href="@{/arquivo/download/__${arquivo.id}__}" th:text="${arquivo.type}">Action</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</th:block>
