<th:block th:fragment="copy">
  <div class="row">
    <h3 class="row_title">
      <img th:src="@{/images/icon_order.png}" width="64" height="64" alt="pedido"/>
      Pedidos
    </h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Itens</th>
        <th scope="col">Data</th>
        <th scope="col">Forma de pagamento</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="order : ${usuario.pedidos}">
        <td>
          <span th:text="${order.id}"></span>
        </td>

        <td>
          <ul>
            <li th:each="produto : ${order.produtos}">
              <span th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${t.conteudo}"></span>
            </li>
          </ul>
        </td>

        <td>
          <span th:text="${#dates.format(order.dataCompra, 'dd/MMM/yyyy')}"></span>
        </td>

        <td>
          <span th:text="${order.metodoPagamento}"></span>
        </td>

        <td>
          <a th:href="@{/order/__${order.id}__}" class="button">Detalhes</a>
        </td>
      </tr>
    </tbody>
  </table>
</th:block>
