<th:block th:fragment="copy">
<div class="card mb-4 shadow-sm" th:each="order : ${usuario.pedidos}">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Pedido #<span th:text="${order.id}"></span> de <span th:text="${#dates.format(order.dataCompra)}"></span></h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="media" th:each="produto : ${order.produtos}">
        <th:block th:if="${produto.icone}">
          <img th:src="@{/imagem/download/__${produto.icone.id}__}" class="mr-3" width=64 height=64 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:alt="${t.conteudo}"/>
        <th:block>
        <th:block th:unless="${produto.icone}">
          <img th:src="@{/images/icon_product.png}" class="mr-3" width=64 height=64 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:alt="${t.conteudo}"/>
        <th:block>
        <div class="media-body">
          <h5 class="mt-0 mb-1">
            <span th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${t.conteudo}"></span>
            <small th:each="r : ${produto.resumo}" th:if="${#strings.equals(#strings.substringBefore(r.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${r.conteudo}"><small>
          </h5>
        </div>
      </li>
    </ul>
    <a th:href="@{/order/__${order.id}__}" class="btn btn-primary">Detalhes do pedido</a>
  </div>
</div>
</th:block>
