<th:block th:fragment="copy">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/}">
          <i class="fas fa-home"></i>
        </a>
      </li>

      <li class="breadcrumb-item active" th:text="${pagina.titulo}"></li>

      <li class="breadcrumb-item" th:each="item : ${breadcrumb}">
        <a th:href="@{/page/__${item.content.slug}__}" th:text="${item.content.titulo}"></a>
      </li>
    </ol>
  </nav>

  <h2 th:text="${pagina.titulo}"></h2>

  <span th:utext="${pagina.descricao}"></span>
</th:block>
