<th:block th:fragment="copy">
  <div class="row">
    <h3 class="row_title">
      <th:block th:if="${produto.icone}">
        <img th:src="@{/imagem/download/__${produto.icone.id}__}" width=64 height=64 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:alt="${t.conteudo}"/>
      </th:block>

      <th:block th:unless="${produto.icone}">
        <img th:src="@{/images/icon_product.png}" width=64 height=64 th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:alt="${t.conteudo}"/>
      </th:block>

      <span th:text="${produto.nome}"></span>

      <small th:each="t : ${produto.resumo}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:utext="${t.conteudo}"></small>
    </h3>

    <div class="col">
      <button class="button">
        Pre&ccedil;o <br/> <small th:text="${#numbers.formatCurrency(produto.preco)}"></small>
      </button>
    </div>

    <div class="col">
      <button sec:authorize="isAuthenticated()" class="button" onclick="add_to_cart(this)" th:attr="data-usuario=${usuario.id}, data-produto=${produto.id}, data-url=@{/usuario/add_to_cart}">
        Comprar <br/> <small>Vers&atilde;o Pro</small>
      </button>
    </div>

    <div class="col">
      <div class="dropdown">
        <button class="dropbtn">Baixar <br/> <small>Vers&atilde;o Lite</small> </button>
        <div class="dropdown-content">
          <a th:each="arquivo : ${produto.versaoGratuita}" th:href="@{/arquivo/download?/arquivo=__${arquivo.id}__&produto=__${produto.nome}__}" th:text="${arquivo.type}"></a>
        </div>
      </div>
    </div>

    <div class="col">
      <a sec:authorize="isAuthenticated()" class="button" th:href="@{/forum/view/__${produto.forum.id}__}">
        F&oacute;rum <br/> <small>Suporte</small>
      </a>
    </div>
  </div>

  <div class="slideshow-container">
    <div class="mySlides fade" th:each="img,stat : ${produto.thumbnails}">
      <div class="numbertext"><span th:text="${stat.count}"></span> / <span th:text="${#lists.size(produto.thumbnails)}"></span></div>
      <img th:src="@{/imagem/download/__${img.id}__}" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <div style="text-align:center">
    <span th:each="dot,stat : ${produto.thumbnails}" class="dot" th:attr="data-slide=${stat.count}" onclick="currentSlide(this);"></span>
  </div>

  <p th:each="d : ${produto.descricao}" th:if="${#strings.equals(#strings.substringBefore(d.idioma,','), #strings.replace(#locale,'_','-'))}" th:utext="${d.conteudo}"></p>
</th:block>
