<th:block th:fragment="copy">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <th:block th:if="${produto.icone}">
          <img th:src="@{/imagem/download/__${produto.icone.id}__}" width=64 height=64 th:alt="${produto.nome}"/>
        </th:block>

        <th:block th:unless="${produto.icone}">
          <i class="fas fa-list-alt"></i>
        </th:block>

        <h3>
          <span th:text="${produto.nome}"></span>
          <span class="badge badge-secondary" th:text="${#numbers.formatCurrency(produto.preco)}"></span>
        </h3>
      </div>

      <div class="col-8">
        <div id="screenshots" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div th:each="img,stat : ${produto.thumbnails}" th:class="${stat.index == 0}? 'carousel-item active' : 'carousel-item'">
                <img th:src="@{/imagem/download/__${img.id}__}" class="d-block w-100" th:alt="${produto.nome}">
            </div>
          </div>
        </div>
      </div>

      <div class="col-2">
        <p>
          <button type="button" class="btn btn-dark" sec:authorize="isAuthenticated()" onclick="add_to_cart(this)" th:attr="data-usuario=${usuario.id}, data-produto=${produto.id}, data-url=@{/usuario/add_to_cart}">Comprar <br/> <small>Vers&atilde;o Pro</small></button>
        </p>

        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Baixar <br/> <small>Vers&atilde;o Lite</small>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" th:each="arquivo : ${produto.versaoGratuita}" th:href="@{/arquivo/download/__${arquivo.id}__}" th:text="${arquivo.type}"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="starter-template">
      <h1 th:each="t : ${produto.resumo}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:utext="${t.conteudo}"></h1>
      <p class="lead" th:each="d : ${produto.descricao}" th:if="${#strings.equals(#strings.substringBefore(d.idioma,','), #strings.replace(#locale,'_','-'))}" th:utext="${d.conteudo}"></p>
    </div>
  </div>
</th:block>
