<th:block th:fragment="copy">
  <div class="media" th:if="${command}">
    <svg class="bd-placeholder-img align-self-start mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Tópico</text></svg>
    <div class="media-body">
      <h5 class="mt-0"> Forum - <i th:each="p : ${produtos}" th:if="${#strings.equals(p.forum, topic.forum)}" th:text="${p.nome}"></i> - Novo tópico </h5>
      <p>
        <input class="form-control" id="titulo" type="text" name="titulo">
        <input id="dataPublicacao" type="hidden" name="dataPublicacao" th:value="${#dates.createNow()}">
        <input id="autor" type="hidden" name="autor" th:value="${usuario}">
      </p>
    </div>
  </div>

  <div class="media" th:unless="${command}">
    <svg class="bd-placeholder-img align-self-start mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Tópico</text></svg>
    <div class="media-body">
      <h5 class="mt-0"> Forum - <i th:each="p : ${produtos}" th:if="${#strings.equals(p.forum, topic.forum)}" th:text="${p.nome}"></i> </h5>
      <p>
        <strong th:text="${topic.titulo}"></strong>
        <a class="btn btn-link" th:href="@{/forum/view?item=__${topic.forum}__}">Voltar</a>
      </p>
    </div>
  </div>

  <hr/>

  <div class="jumbotron" th:if="${command}">
    <textarea class="summernote" id="descricao" name="descricao" rows="8" cols="80"></textarea>
    <button type="button" class="btn btn-primary" th:attr="data.url=@{/topic/save}" onclick="new_topic(this);">Enviar</button>
  </div>

  <div class="jumbotron" th:unless="${command}">
    <h1 class="display-4">Pergunta</h1>
    <p class="lead" th:text="${topic.descricao}"></p>
  </div>

  <hr/>

  <div th:if="${topic.resposta}" class="jumbotron" th:unless="${command}">
    <h1 class="display-4">Resposta</h1>
    <p class="lead" th:text="${topic.resposta.descricao}"></p>
  </div>
</th:block>
