<th:block th:fragment="copy">
  <th:block>
    <table class="table">
      <thead>
        <tr>
          <th th:utext="${topic.titulo}"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td th:utext="${topic.descricao}"></td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td th:utext="${topic.autor}"></td>
        </tr>
      </tfoot>
    </table>

    <table class="table" th:if="${topic.resposta}">
      <thead>
        <tr>
          <th th:text="${topic.resposta.titulo}"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td th:text="${topic.resposta.descricao}"></td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td th:text="${topic.resposta.autor}"></td>
        </tr>
      </tfoot>
    </table>
  </th:block>
</th:block>
