<th:block th:fragment="copy">
  <p id="insert">
    <button sec:authorize="hasPermission(#user, 'cadastra_produto')" type="button" class="btn btn-dark" id="insert" th:attr="data-url=@{/produto/insert}" onclick="open_tab(this)">
      <i class="fas fa-plus"></i> Novo item
    </button>
  </p>

  <th>#</th>
  <th class="col search" scope="col">nome</th>
  <th class="col" scope="col">resumo</th>
  <th class="col" scope="col">preco</th>
  <th class="col" scope="col">categoria</th>
  <th>
    <div class="btn-group" id="buttons" role="group" aria-label="comandos" style="display: none;">
      <button sec:authorize="hasPermission(#user, 'atualiza_produto')" type="button" class="btn btn-secondary" id="update" th:attr="data-url=@{/produto/update}" onclick="open_tab(this)">
        <i class="fas fa-edit"></i>
      </button>
      <button sec:authorize="hasPermission(#user, 'remove_produto')" type="button" class="btn btn-secondary" id="delete" th:attr="data-url=@{/produto/delete}" onclick="open_tab(this)">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </th>
</th:block>
