body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "header header header" "sidebar main main";
  grid-gap: 32px;
}

.navbar {
  grid-area: header;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul li a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #555;
  color: white;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline;
}

.right {
  float: right;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  display: block;
}

.sidebar ul li a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: #ccc;
}

.sidebar ul li a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.main .row {
  display: grid;
  grid-template-areas: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.title {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: blue;
  color: white;
}

.col {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: auto;
}

.row:nth-child(even) .col:nth-child(even) {
  background-color: #D3D3D3;
  color: white;
}

.row:nth-child(even) .col:nth-child(odd) {
  background-color: #A9A9A9;
  color: white;
}

.row:nth-child(odd) .col:nth-child(even) {
  background-color: #A9A9A9;
  color: white;
}

.row:nth-child(odd) .col:nth-child(odd) {
  background-color: #D3D3D3;
  color: white;
}
