body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: justify;
}
.navbar {
  z-index: 0;
}
.navbar-nav {
  margin-left: 240px;
}
.list-group {
  position: fixed;
  margin-top: -128px;
  width: 180px;
}
li.list-group-item {
  padding: 0;
}
.media img {
  padding: 0;
}
.bd-placeholder-img {
  padding: 0;
}
.alert {
  height: 50px;
}
.alert img {
  position: absolute;
  top: -7px;
}
.alert svg {
  position: absolute;
  top: -7px;
}
