<!doctype html>
<html lang="pt-br">
<body>
    <div id="form-container">
      <form class="form" id="form" method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/insert}">
        <div class="container" th:if="${#strings.equals(classe.simpleName, 'Categoria')}">
          <div class="form-group">
            <label for="icone">Icone</label>
            <input type="file" accept=".png" class="form-control image-uploader" id="icone" th:attr="data-url=@{/imagem/upload}">
          </div>

          <ul class="nav nav-tabs">
            <li class="nav-item" th:each="idioma,stat : ${idiomas.listaDeIdiomas}">
              <a th:class="${stat.index == 0}? 'nav-link active' : 'nav-link'" th:href="${'#' + #strings.substringBefore(idioma,',')}" th:text="${idioma}"></a>
            </li>
          </ul>

          <div class="tab-content">
            <div th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:class="${stat.index == 0}? 'tab-pane fade show active' : 'tab-pane fade'" th:id="${#strings.substringBefore(idioma,',')}" role="tabpanel" th:attr="aria-labelledby=${#strings.substringBefore(idioma,',') + '_tab'}">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" th:name="${'nome[' + stat.index + ']'}" class="form-control" id="nome" placeholder="Nome">
              </div>

              <div class="form-group">
                <label for="resumo">Resumo</label>
                <input type="text" th:name="${'resumo[' + stat.index + ']'}" class="form-control" id="resumo" placeholder="Resumo">
              </div>
            </div>
          </div>
        </div>

        <div class="container" th:if="${#strings.equals(classe.simpleName, 'Produto')}">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome">
          </div>

          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria" name="categoria.id">
              <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"/>
            </select>
          </div>

          <div class="form-group">
            <label for="preco">Pre&ccedil;o</label>
            <input type="text" name="preco" class="form-control" id="preco" placeholder="Pre&ccedil;o">
          </div>

          <div class="form-group">
            <label for="nome">Resumo</label>
            <input type="text" name="resumo" class="form-control" id="resumo" placeholder="Resumo">
          </div>

          <div class="form-group">
            <textarea class="summernote" id="descricao" name="descricao"></textarea>
          </div>

          <div class="form-group">
            <label for="icone">Icone</label>
            <input type="file" accept=".png" class="form-control image-uploader" id="icone" th:attr="data-url=@{/imagem/upload}">
          </div>

          <div class="form-group">
            <label for="thumbnails">Thumbnails</label>
            <input type="file" accept=".jpg .jpeg" class="form-control image-uploader" id="thumbnails" multiple="multiple" th:attr="data-url=@{/imagem/upload}">
          </div>

          <div class="form-group">
            <label for="versaoGratuita">Vers&atilde;o Gratuita</label>
            <input type="file" accept=".exe .dmg .rpm .deb" class="form-control file-uploader" id="versaoGratuita" multiple="multiple" th:attr="data-url=@{/arquivo/upload}">
          </div>

          <div class="form-group">
            <label for="versaoGratuita">Vers&atilde;o Paga</label>
            <input type="file" accept=".exe .dmg .rpm .deb" class="form-control file-uploader" id="versaoPaga" multiple="multiple" th:attr="data-url=@{/arquivo/upload}">
          </div>
        </div>

        <div class="container" th:if="${#strings.equals(classe.simpleName, 'Pagina')}">
          <div class="form-group">
            <label for="nome">Titulo</label>
            <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Titulo" onchange="create_slug(this);">
          </div>

          <div class="form-group">
            <textarea class="summernote" id="descricao" name="descricao"></textarea>
          </div>

          <div class="form-group">
            <label for="parent">Pagina m&atilde;e</label>
            <select class="form-control" id="parent" name="parent">
              <option value=""></option>
              <option th:each="pagina : ${paginas}" th:value="${pagina.id}" th:text="${pagina.titulo}"/>
            </select>
          </div>

          <input type="hidden" name="slug" id="slug"/>
        </div>

        <div class="container" th:if="${#strings.equals(classe.simpleName, 'Usuario')}">
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" name="username" placeholder="Login">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="password" placeholder="Senha">
          </div>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="firstName" placeholder="Nome">
          </div>

          <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" name="lastName" placeholder="Sobrenome">
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" name="enabled" class="form-check-input" id="enabled">
            <label class="form-check-label" for="enabled">ativo</label>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" name="locked" class="form-check-input" id="locked">
            <label class="form-check-label" for="locked">bloqueado</label>
          </div>

          <div class="form-group">
            <label for="dataExpiracao">Data de expira&ccedil;&atilde;o</label>
            <input type="date" class="form-control" id="dataExpiracao" name="dataExpiracao" placeholder="Data de expira&ccedil;&atilde;o">
          </div>

          <div class="form-group">
            <label for="credenciais">Credenciais</label>
            <select class="form-control" id="credenciais" name="credenciais[]" multiple="multiple" size="10">
              <option th:each="credencial : ${credenciais}" th:value="${credencial.id}" th:text="${credencial.nome}"/>
            </select>
          </div>
        </div>

        <div class="container" th:if="${#strings.equals(classe.simpleName, 'Credencial')}">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome">
          </div>

          <div class="form-group">
            <table class="table table-striped">
              <tr th:each="autorizacao : ${autorizacoes}">
                <td>
                  <input type="checkbox" name="autorizacoes[]" th:value="${autorizacao.id}" class="form-check-input">
                </td>
                <td th:text="${autorizacao}"></td>
              </tr>
            </table>
          </div>
        </div>
      </form>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <button class="btn btn-primary" id="cancel" onclick="cancel_insert(this);">Cancelar</button>
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <button type="submit" class="btn btn-primary" id="submit" onclick="submit_insert(this);">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
