<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link th:href="@{/css/style-admin.css}" rel="stylesheet">
  </head>

  <body onload="load_content()">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/}" th:text="${geral.titulo}">Title</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" th:href="@{/logout}">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a th:class="${classe == null} ? 'nav-link active' : 'nav-link'" th:href="@{/admin}">
                  <span data-feather="home"></span>
                  in&iacute;cio
                </a>
              </li>
              <li sec:authorize="hasPermission(#user, 'consulta_categoria')" class="nav-item">
                <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Categoria')}? 'nav-link active' : 'nav-link'" th:href="@{/categoria/}">
                  <span data-feather="paperclip"></span>
                  categorias
                </a>
              </li>
              <li sec:authorize="hasPermission(#user, 'consulta_produto')" class="nav-item">
                <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Produto')}? 'nav-link active' : 'nav-link'" th:href="@{/produto/}">
                  <span data-feather="shopping-bag"></span>
                  produtos
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>configura&ccedil;&otilde;es</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>

            <ul class="nav flex-column mb-2">
              <li>
                <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Geral')}? 'nav-link active' : 'nav-link'" th:href="@{/geral/get}" tabindex="-1" aria-disabled="true">
                  <span data-feather="file"></span>
                  Geral
                </a>
              </li>
              <li>
                <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Paypal')}? 'nav-link active' : 'nav-link'" th:href="@{/paypal/get}" tabindex="-1" aria-disabled="true">
                  <span data-feather="file"></span>
                  Paypal
                </a>
              </li>
              <li>
                <a th:class="${classe != null and #strings.equals(classe.simpleName, 'MercadoPago')}? 'nav-link active' : 'nav-link'" th:href="@{/mercadopago/get}" tabindex="-1" aria-disabled="true">
                  <span data-feather="file"></span>
                  MercadoPago
                </a>
              </li>
              <li>
                <a th:class="${classe != null and #strings.equals(classe.simpleName, 'PagSeguro')}? 'nav-link active' : 'nav-link'" th:href="@{/pagseguro/get}" tabindex="-1" aria-disabled="true">
                  <span data-feather="file"></span>
                  PagSeguro
                </a>
              </li>
            </ul>

            <ul class="nav flex-column">
              <li sec:authorize="hasPermission(#user, 'consulta_usuario')" class="nav-item">
                <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Usuario')}? 'nav-link active' : 'nav-link'" th:href="@{/usuario/}">
                  <span data-feather="users"></span>
                  usu&aacute;rios
                </a>
              </li>
            </ul>

            <ul class="nav flex-column">
              <li sec:authorize="hasPermission(#user, 'consulta_credencial')" class="nav-item">
                <a th:class="${classe != null and #strings.equals(classe.simpleName, 'Credencial')}? 'nav-link active' : 'nav-link'" th:href="@{/credencial/}">
                  <span data-feather="list"></span>
                  credenciais
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <main th:if="${class == null and command == null and setting == null}" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      </main>

      <main th:if="${classe != null and setting != null}" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div id="form-container" th:if="${#strings.equals(classe.simpleName, 'Geral')}">
          <form class="form" id="form" method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/set}">
            <div class="form-group">
              <label for="titulo">Titulo</label>
              <input type="text" name="titulo" th:value="${setting.titulo}" class="form-control" id="titulo" placeholder="Titulo">
            </div>

            <div class="form-group">
              <label for="desenvolvedor">Desenvolvedor</label>
              <input type="text" name="desenvolvedor" th:value="${setting.desenvolvedor}" class="form-control" id="desenvolvedor" placeholder="Desenvolvedor">
            </div>

            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" name="email" th:value="${setting.email}" class="form-control" id="email" placeholder="E-mail">
            </div>
          </form>

          <div class="container">
            <div class="row">
              <div class="col-sm">
              </div>
              <div class="col-sm">
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-primary" id="geral" onclick="submit_setting(this);">Salvar</button>
              </div>
            </div>
          </div>
        </div>

        <div id="form-container" th:if="${#strings.equals(classe.simpleName, 'Paypal')}">
          <form class="form" id="form" method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/set}">
            <div class="form-group">
              <label for="clientId">client-id</label>
              <input type="text" name="clientId" th:value="${setting.clientId}" class="form-control" id="clientId" placeholder="ClientID">
            </div>

            <div class="form-group">
              <label for="clientSecret">client-secret</label>
              <input type="text" name="clientSecret" th:value="${setting.clientSecret}" class="form-control" id="clientSecret" placeholder="clientSecret">
            </div>
          </form>

          <div class="container">
            <div class="row">
              <div class="col-sm">
              </div>
              <div class="col-sm">
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-primary" id="paypal" onclick="submit_setting(this);">Salvar</button>
              </div>
            </div>
          </div>
        </div>

        <div id="form-container" th:if="${#strings.equals(classe.simpleName, 'MercadoPago')}">
          <form class="form" id="form" method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/set}">
            <div class="form-group">
              <label for="clientId">client-id</label>
              <input type="text" name="clientId" th:value="${setting.clientId}" class="form-control" id="clientId" placeholder="ClientID">
            </div>

            <div class="form-group">
              <label for="clientSecret">client-secret</label>
              <input type="text" name="clientSecret" th:value="${setting.clientSecret}" class="form-control" id="clientSecret" placeholder="clientSecret">
            </div>
          </form>

          <div class="container">
            <div class="row">
              <div class="col-sm">
              </div>
              <div class="col-sm">
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-primary" id="mercadopago" onclick="submit_setting(this);">Salvar</button>
              </div>
            </div>
          </div>
        </div>

        <div id="form-container" th:if="${#strings.equals(classe.simpleName, 'PagSeguro')}">
          <form class="form" id="form" method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/set}">
            <div class="form-group">
              <label for="clientId">client-id</label>
              <input type="text" name="clientId" th:value="${setting.clientId}" class="form-control" id="clientId" placeholder="ClientID">
            </div>

            <div class="form-group">
              <label for="clientSecret">client-secret</label>
              <input type="text" name="clientSecret" th:value="${setting.clientSecret}" class="form-control" id="clientSecret" placeholder="clientSecret">
            </div>
          </form>

          <div class="container">
            <div class="row">
              <div class="col-sm">
              </div>
              <div class="col-sm">
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-primary" id="pagseguro" onclick="submit_setting(this);">Salvar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="alert alert-success" id="sucess" role="alert" style="display: none;">
          Configura&ccedil;&otilde;es salvas com sucesso!
        </div>

        <div class="alert alert-danger" id="error" role="alert" style="display: none;">
          Ocorreu um erro ao salvar as configura&ccedil;&otilde;es!
        </div>
      </main>

      <main th:if="${classe != null and command == null and setting == null}" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <p>
          <a th:if="${#strings.equals(classe.simpleName, 'Categoria')}" sec:authorize="hasPermission(#user, 'cadastra_categoria')" class="btn btn-primary" onclick="insert_data();">
            <span data-feather="file-plus"></span>
            novo item
          </a>

          <a th:if="${#strings.equals(classe.simpleName, 'Produto')}" sec:authorize="hasPermission(#user, 'cadastra_produto')" class="btn btn-primary" onclick="insert_data();">
            <span data-feather="file-plus"></span>
            novo item
          </a>

          <a th:if="${#strings.equals(classe.simpleName, 'Usuario')}" sec:authorize="hasPermission(#user, 'cadastra_usuario')" class="btn btn-primary" onclick="insert_data();">
            <span data-feather="file-plus"></span>
            novo item
          </a>

          <a th:if="${#strings.equals(classe.simpleName, 'Credencial')}" sec:authorize="hasPermission(#user, 'cadastra_credencial')" class="btn btn-primary" onclick="insert_data();">
            <span data-feather="file-plus"></span>
            novo item
          </a>
        </p>

        <ul class="nav nav-tabs" id="tabset">
          <li class="nav-item" id="tab-listagem">
            <a class="nav-link active" id="listagem-tab" data-toggle="tab" href="#listagem" role="tab" aria-controls="listagem" aria-selected="true">Listagem</a>
          </li>
          <li class="nav-item" id="tab-insert" style="display: none;">
            <a class="nav-link" id="insert-tab" data-toggle="tab" href="#insert" role="tab" aria-controls="insert" aria-selected="false">Insert</a>
          </li>
          <li class="nav-item" id="tab-update" style="display: none;">
            <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab" aria-controls="update" aria-selected="false">Update</a>
          </li>
          <li class="nav-item" id="tab-delete" style="display: none;">
            <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete" aria-selected="false">Delete</a>
          </li>
          <li class="nav-item" id="tab-credencial" style="display: none;">
            <a class="nav-link" id="credencial-tab" data-toggle="tab" href="#credencial" role="tab" aria-controls="credencial" aria-selected="false">Credenciais</a>
          </li>
        </ul>

        <div class="tab-content" id="tab_content">
          <div class="tab-pane active" id="listagem" role="tabpanel" aria-labelledby="listagem-tab">
            <table class="table table-striped" id="table" th:attr="data-json=@{/__${#strings.toLowerCase(classe.simpleName)}__/list.json}">
              <thead class="thead-dark">
                <tr id="table-header">
                  <th>#</th>
                  <th:block th:if="${#strings.equals(classe.simpleName, 'Categoria')}">
                    <th class="col">nome</th>
                    <th class="col">resumo</th>
                  </th:block>
                  <th:block th:if="${#strings.equals(classe.simpleName, 'Produto')}">
                    <th class="col">nome</th>
                    <th class="col">resumo</th>
                    <th class="col">preco</th>
                    <th class="col">categoria</th>
                  </th:block>
                  <th:block th:if="${#strings.equals(classe.simpleName, 'Usuario')}">
                    <th class="col">username</th>
                    <th class="col">firstName</th>
                    <th class="col">lastName</th>
                    <th class="col">email</th>
                  </th:block>
                  <th:block th:if="${#strings.equals(classe.simpleName, 'Credencial')}">
                    <th class="col">nome</th>
                  </th:block>
                  <th>
                    <div th:if="${#strings.equals(classe.simpleName, 'Categoria')}" class="btn-group" id="buttons" role="group" aria-label="Categoria" style="display: none;">
                      <button sec:authorize="hasPermission(#user, 'atualiza_categoria')" type="button" class="btn btn-secondary" th:attr="data-url=@{/categoria/update}" onclick="update_data(this)">
                        <span data-feather="edit"></span>
                      </button>
                      <button sec:authorize="hasPermission(#user, 'remove_categoria')" type="button" class="btn btn-secondary" th:attr="data-url=@{/categoria/delete}" onclick="delete_data(this)">
                        <span data-feather="trash-2"></span>
                      </button>
                    </div>
                    <div th:if="${#strings.equals(classe.simpleName, 'Produto')}" class="btn-group" id="buttons" role="group" aria-label="Produto" style="display: none;">
                      <button sec:authorize="hasPermission(#user, 'atualiza_produto')" type="button" class="btn btn-secondary" th:attr="data-url=@{/produto/update}" onclick="update_data(this)">
                        <span data-feather="edit"></span>
                      </button>
                      <button sec:authorize="hasPermission(#user, 'remove_produto')" type="button" class="btn btn-secondary" th:attr="data-url=@{/produto/delete}" onclick="delete_data(this)">
                        <span data-feather="trash-2"></span>
                      </button>
                    </div>
                    <div th:if="${#strings.equals(classe.simpleName, 'Usuario')}" class="btn-group" id="buttons" role="group" aria-label="Usuario" style="display: none;">
                      <button sec:authorize="hasPermission(#user, 'atualiza_usuario')" type="button" class="btn btn-secondary" th:attr="data-url=@{/usuario/update}" onclick="update_data(this)">
                        <span data-feather="edit"></span>
                      </button>
                      <button sec:authorize="hasPermission(#user, 'remove_usuario')" type="button" class="btn btn-secondary" th:attr="data-url=@{/usuario/delete}" onclick="delete_data(this)">
                        <span data-feather="trash-2"></span>
                      </button>
                      <button sec:authorize="hasPermission(#user, 'consulta_credencial')" type="button" class="btn btn-secondary" th:attr="data-url=@{/usuario/credenciais}" onclick="credencial_data(this)">
                        <span data-feather="list"></span>
                      </button>
                    </div>
                    <div th:if="${#strings.equals(classe.simpleName, 'Credencial')}" class="btn-group" id="buttons" role="group" aria-label="Credencial" style="display: none;">
                      <button sec:authorize="hasPermission(#user, 'atualiza_credencial')" type="button" class="btn btn-secondary" th:attr="data-url=@{/credencial/update}" onclick="update_data(this)">
                        <span data-feather="edit"></span>
                      </button>
                      <button sec:authorize="hasPermission(#user, 'remove_credencial')" type="button" class="btn btn-secondary" th:attr="data-url=@{/credencial/delete}" onclick="delete_data(this)">
                        <span data-feather="trash-2"></span>
                      </button>
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody id="table-body">
              </tbody>
            </table>
          </div>

          <div class="tab-pane" id="insert" role="tabpanel" aria-labelledby="insert-tab" th:attr="data-url=@{/__${#strings.toLowerCase(classe.simpleName)} __/insert}"></div>

          <div class="tab-pane" id="update" role="tabpanel" aria-labelledby="update-tab" th:attr="data-url=@{/__${#strings.toLowerCase(classe.simpleName)} __/update}"></div>

          <div class="tab-pane" id="delete" role="tabpanel" aria-labelledby="delete-tab" th:attr="data-url=@{/__${#strings.toLowerCase(classe.simpleName)} __/delete}"></div>

          <div class="tab-pane" id="credencial" role="tabpanel" aria-labelledby="credencial-tab" th:attr="data-url=@{/__${#strings.toLowerCase(classe.simpleName)} __/credenciais}"></div>
        </div>
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script> -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script th:src="@{/js/script-admin.js}"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
