<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style-admin.css}">
  </head>

  <body>
    <header>
      <nav class="left">
        <a th:href="@{/}">Titulo</a>
      </nav>
      <nav class="right">
        <a href="#" th:text="${usuario}"></a>
        <a th:href="@{/logout}">Sair</a>
      </nav>
    </header>

    <main>
      <aside>
        <ul>
          <li> <a th:class="${classe == null} ? 'active' : ''" th:href="@{/admin}">inicio</a> </li>
          <li> <a sec:authorize="hasPermission(#user, 'consulta_categoria')" th:class="${classe != null and #strings.equals(classe.simpleName, 'Categoria')}? 'active' : ''" th:href="@{/categoria/}">categorias</a> </li>
          <li> <a sec:authorize="hasPermission(#user, 'consulta_produto')" th:class="${classe != null and #strings.equals(classe.simpleName, 'Produto')}? 'active' : ''" th:href="@{/produto/}">produtos</a> </li>
          <hr/>
          <li> <a href="#">section 1</a> </li>
          <li> <a href="#">section 2</a> </li>
          <li> <a href="#">section 3</a> </li>
          <li> <a href="#">section 4</a> </li>
          <li> <a href="#">section 5</a> </li>
          <hr/>
          <li> <a sec:authorize="hasPermission(#user, 'consulta_produto')" th:class="${classe != null and #strings.equals(classe.simpleName, 'Usuario')}? 'active' : ''" th:href="@{/usuario/}">usuarios</a> </li>
        </ul>
      </aside>

      <section th:if="${dashboard}">
      </section>

      <section th:unless="${dashboard}">
        <div class="tabset" id="tabset">
          <input type="radio" name="tabset" id="tab-listagem" aria-controls="listagem" checked>
          <label for="tab-listagem" id="label-listagem">Listagem</label>

          <input type="radio" name="tabset" id="tab-insert" aria-controls="insert" style="display: none;">
          <label for="tab-insert" id="label-insert" style="display: none;">Insert</label>

          <input type="radio" name="tabset" id="tab-update" aria-controls="update" style="display: none;">
          <label for="tab-update" id="label-update" style="display: none;">Update</label>

          <input type="radio" name="tabset" id="tab-delete" aria-controls="delete" style="display: none;">
          <label for="tab-delete" id="label-delete" style="display: none;">Delete</label>

          <input type="radio" name="tabset" id="tab-credencial" aria-controls="credencial" style="display: none;">
          <label for="tab-credencial" id="label-credencial" style="display: none;">Credencial</label>

          <div th:if="${#strings.equals(classe.simpleName, 'Categoria')}" sec:authorize="hasPermission(#user, 'cadastra_categoria')" class="right" id="button">
            <a href="#" class="myButton" onclick="insert_data();">
              <img th:src="@{/images/icon_insert.png}" alt="Novo item" width=16px height=16px/>
            </a>
          </div>

          <div th:if="${#strings.equals(classe.simpleName, 'Produto')}" sec:authorize="hasPermission(#user, 'cadastra_produto')" class="right" id="button">
            <a href="#" class="myButton" onclick="insert_data();">
              <img th:src="@{/images/icon_insert.png}" alt="Novo item" width=16px height=16px/>
            </a>
          </div>

          <div th:if="${#strings.equals(classe.simpleName, 'Usuario')}" sec:authorize="hasPermission(#user, 'cadastra_usuario')" class="right" id="button">
            <a href="#" class="myButton" onclick="insert_data();">
              <img th:src="@{/images/icon_insert.png}" alt="Novo item" width=16px height=16px/>
            </a>
          </div>

          <div th:if="${#strings.equals(classe.simpleName, 'Credencial')}" sec:authorize="hasPermission(#user, 'cadastra_credencial')" class="right" id="button">
            <a href="#" class="myButton" onclick="insert_data();">
              <img th:src="@{/images/icon_credencial.png}" alt="Novo item" width=16px height=16px/>
            </a>
          </div>

          <div class="tab-panels" id="tab-panel">
            <div class="tab-panel" id="listagem">
              <p id="table-listagem">
                <table id="table" th:attr="data-json=@{/__${#strings.toLowerCase(classe.simpleName)}__/list.json}">
                  <thead>
                    <tr id="table-header">
                      <th>#</th>
                      <th:block th:each="field : ${classe.declaredFields}">
                        <th:block th:each="annotation : ${field.declaredAnnotations}">
                          <th th:if="${#strings.equals(annotation.annotationType().simpleName, 'Column')}" class="column" th:text="${field.name}"></th>
                        </th:block>
                      </th:block>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody id="table-body">
                  </tbody>
                </table>
              </p>
            </div>

            <div class="tab-panel" id="insert" style="display: none;" th:attr="data-url=@{/__${#strings.toLowerCase(classe.simpleName)} __/insert}">
              <p id="form-insert"></p>
            </div>

            <div class="tab-panel" id="update" style="display: none;" th:attr="data-url=@{/__${#strings.toLowerCase(classe.simpleName)} __/update}">
              <p id="form-update"></p>
            </div>

            <div class="tab-panel" id="delete" style="display: none;" th:attr="data-url=@{/__${#strings.toLowerCase(classe.simpleName)} __/delete}">
              <p id="form-delete"></p>
            </div>

            <div class="tab-panel" id="credencial" style="display: none;" th:attr="data-url=@{/__${#strings.toLowerCase(classe.simpleName)} __/credenciais}">
              <p id="form-credenciais"></p>
            </div>
          </div>
        </div>

        <div id="buttons">
          <div th:if="${#strings.equals(classe.simpleName, 'Categoria')}" sec:authorize="hasPermission(#user, 'atualiza_categoria')" class="btn_command" data-action="update" th:attr="data-url=@{/images/icon_update.png}" style="display: none;"></div>
          <div th:if="${#strings.equals(classe.simpleName, 'Produto')}" sec:authorize="hasPermission(#user, 'atualiza_produto')" class="btn_command" data-action="update" th:attr="data-url=@{/images/icon_update.png}" style="display: none;"></div>
          <div th:if="${#strings.equals(classe.simpleName, 'Usuario')}" sec:authorize="hasPermission(#user, 'atualiza_usuario')" class="btn_command" data-action="update" th:attr="data-url=@{/images/icon_update.png}" style="display: none;"></div>
          <div th:if="${#strings.equals(classe.simpleName, 'Credencial')}" sec:authorize="hasPermission(#user, 'atualiza_credencial')" class="btn_command" data-action="update" th:attr="data-url=@{/images/icon_update.png}" style="display: none;"></div>

          <div th:if="${#strings.equals(classe.simpleName, 'Categoria')}" sec:authorize="hasPermission(#user, 'remove_categoria')" class="btn_command" data-action="delete" th:attr="data-url=@{/images/icon_delete.png}" style="display: none;"></div>
          <div th:if="${#strings.equals(classe.simpleName, 'Produto')}" sec:authorize="hasPermission(#user, 'remove_produto')" class="btn_command" data-action="delete" th:attr="data-url=@{/images/icon_delete.png}" style="display: none;"></div>
          <div th:if="${#strings.equals(classe.simpleName, 'Usuario')}" sec:authorize="hasPermission(#user, 'remove_usuario')" class="btn_command"data-action="delete" th:attr="data-url=@{/images/icon_delete.png}" style="display: none;"></div>
          <div th:if="${#strings.equals(classe.simpleName, 'Credencial')}" sec:authorize="hasPermission(#user, 'remove_credencial')" class="btn_command" data-action="delete" th:attr="data-url=@{/images/icon_delete.png}" style="display: none;"></div>

          <div th:if="${#strings.equals(classe.simpleName, 'Usuario')}" sec:authorize="hasPermission(#user, 'consulta_credencial')" class="btn_command" data-action="credencial" id="credencialButton" th:attr="data-url=@{/images/icon_credencial.png}" style="display: none;"></div>
        </div>
      </section>
    </main>

    <script th:src="@{/js/script-admin.js}"></script>
    <script th:if="${dashboard}">
    </script>
    <script th:unless="${dashboard}">
      load_content();
    </script>
  </body>
</html>
