<div th:replace="header :: copy"></div>

<div th:replace="navbar :: copy"></div>

<div class="container">
  <form class="form-signin" id="form" method="post" th:action="@{/recover/change}">
    <h1 class="h3 mb-3 font-weight-normal">
      <i class="fas fa-sign-in-alt"></i> Alterar senha
      <small>Informe a nova senha para a sua conta.</small>
    </h1>

    <input type="hidden" name="token" th:value="${token}">

    <label for="text" class="sr-only">Nova senha</label>
    <input type="text" name="senha" id="senha" class="form-control" placeholder="Nova senha" required>

    <button type="button" class="btn btn-lg btn-primary btn-block" onclick="recover()">Alterar</button>

    <div class="alert alert-success alert-dismissible fade show" id="ok" role="alert" style="display: none;">
      <strong>Sucesso!</strong> Senha alterada! Agora você pode <a th:href="@{/login}">Clicar aqui</a> para fazer login com sua nova senha.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" id="error" role="alert" style="display: none;">
      <strong>Erro!</strong> Ocorreu um erro ao tentar alterar a senha! <a th:href="@{/recover/password}">Clique aqui</a> para tentar novamente.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </form>
</div>

<div th:replace="footer :: copy"></div>
