<th:block th:fragment="copy">
  <section th:if="${categoria == null and produto == null and orders == null and cart == null}">
    <div th:each="c : ${categorias}" class="card">
      <div class="card-header" th:utext="${c.nome}">
      </div>
      <div class="card-body">
        <div th:each="p : ${produtos}" th:if="${#strings.equals(p.categoria.nome, c.nome)}" class="col">
          <div class="card" style="width: 18rem;">
            <img th:if="${p.icone}" th:src="@{/imagem/download/__${p.icone.id}__}" class="mr-3" th:alt="${p.nome}"/>
            <img th:unless="${p.icone}" th:src="@{/images/icon_product.png}" width=64 height=64 class="mr-3" th:alt="${p.nome}"/>
            <div class="card-body">
              <h5 class="card-title" th:utext="${p.nome}">Card title</h5>
              <p class="card-text" th:utext="${p.resumo}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a th:href="@{/p/__${p.nome}__}" class="btn btn-primary">Detalhes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section th:if="${categoria != null}">
    <div class="media">
      <img th:if="${categoria.icone}" th:src="@{/imagem/download/__${categoria.icone.id}__}" class="mr-3" th:alt="${categoria.nome}"/>
      <img th:unless="${categoria.icone}" th:src="@{/images/icon_category.png}" width=64 height=64 class="mr-3" th:alt="${categoria.nome}"/>
      <div class="media-body">
        <h5 class="mt-0" th:utext="${categoria.nome}">Media heading</h5>
        <span th:utext="${categoria.resumo}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
      </div>
    </div>
    <div th:each="p : ${produtos}" th:if="${#strings.equals(p.categoria.nome, c.nome)}" class="card" style="width: 18rem;">
      <img th:if="${p.icone}" th:src="@{/imagem/download/__${p.icone.id}__}" class="mr-3" th:alt="${p.nome}"/>
      <img th:unless="${p.icone}" th:src="@{/images/icon_product.png}" width=64 height=64 class="mr-3" th:alt="${p.nome}"/>
      <div class="card-body">
        <h5 class="card-title" th:utext="${p.nome}">Card title</h5>
        <p class="card-text" th:utext="${p.resumo}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a th:href="@{/p/__${p.nome}__}" class="btn btn-primary">Detalhes</a>
      </div>
    </div>
  </section>

  <section th:if="${produto != null}">
    <div class="media">
      <img th:if="${produto.icone}" th:src="@{/imagem/download/__${produto.icone.id}__}" class="mr-3" th:alt="${produto.nome}"/>
      <img th:unless="${produto.icone}" th:src="@{/images/icon_product.png}" width=64 height=64 class="mr-3" th:alt="${produto.nome}"/>
      <div class="media-body">
        <h5 class="mt-0" th:utext="${produto.nome}">Media heading</h5>
        <span th:utext="${produto.resumo}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" th:text="${#numbers.formatCurrency(produto.preco)}"></button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary" id="comprar">Comprar</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary" id="baixar">Baixar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <p class="lead" th:utext="${produto.descricao}">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
  </section>

  <section th:if="${orders != null}">
    <div class="card" th:each="pedido : ${usuario.pedidos}">
      <div class="card-header">
        <span th:text="${#dates.format(pedido.dataCompra)}"></span>
      </div>
      <div class="card-body">
        <div class="card" style="width: 18rem;" th:each="produto : ${pedido.produtos}">
          <img th:if="${produto.icone}" th:src="@{/imagem/download/__${produto.icone.id}__}" class="mr-3" th:alt="${produto.nome}"/>
          <img th:unless="${produto.icone}" th:src="@{/images/icon_product.png}" width=64 height=64 class="mr-3" th:alt="${produto.nome}"/>
          <div class="card-body">
            <h5 class="card-title" th:utext="${produto.nome}">Card title</h5>
            <p class="card-text" th:utext="${produto.resumo}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a th:each="arquivo : ${produto.versaoPaga}" th:href="@{/arquivo/download/__${arquivo.id}__}" class="btn btn-primary">Baixar <span th:text="${arquivo.type}"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section th:if="${cart != null}">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Cesta de compras
      </div>
      <ul th:if="${usuario.cesta}" class="list-group list-group-flush">
        <li th:each="produto : ${usuario.cesta.produtos}" class="list-group-item">
          <a th:href="@{/p/__${produto.nome}__}" class="card-link" th:text="${produto.nome}"></a>
        </li>
      </ul>
      <ul th:unless="${usuario.cesta}" class="list-group list-group-flush">
        <li class="list-group-item">
          Nenhum produto na cesta de compras
        </li>
      </ul>
      <div th:if="${usuario.cesta}" class="card-body">
        <a href="#" class="card-link">Finalizar compra</a>
      </div>
    </div>
  </section>
</th:block>
