<th:block th:fragment="copy">
  <section th:if="${categoria == null and produto == null}">
    <span th:text="${senha}"/>
    <div class="card_categoria" th:each="categoria : ${categorias}">
      <div class="card_produto" th:each="p : ${produtos}" th:if="${#strings.equals(categoria, p.categoria)}">
        <h2 th:text="${p.nome}"></h2>
        <h3 th:text="${#numbers.formatCurrency(p.preco)}"></h3>
        <img src="#" th:alt="${p.nome}"/>
        <a th:href="@{/p/__${p.nome}__}">View</a>
      </div>
    </div>
  </section>

  <section th:if="${categoria != null}">
    <img th:if="${categoria.icone}" th:src="@{/imagem/download/__${categoria.icone.id}__}" th:alt="${categoria.nome}"/>
    <h1 th:text="${categoria.nome}"></h1>
    <div class="card_categoria">
      <div class="card_produto" th:each="p : ${produtos}" th:if="${#strings.equals(categoria, p.categoria)}">
        <h2 th:text="${p.nome}"></h2>
        <h3 th:text="${#numbers.formatCurrency(p.preco)}"></h3>
        <img th:if="${p.icone}" th:src="@{/imagem/download/__${p.icone.id}__}" th:alt="${p.nome}"/>
        <a th:href="@{/p/__${p.nome}__}">View</a>
      </div>
    </div>
  </section>

  <section th:if="${produto != null}">
    <div class="produto_header">
      <img th:if="${produto.icone}" th:src="@{/imagem/download/__${produto.icone.id}__}" th:alt="${produto.nome}"/>
      <h1 th:text="${produto.nome}"></h1>
      <h2 th:text="${#numbers.formatCurrency(produto.preco)}"></h2>
      <a class="button" href="#">Comprar<small>versão pro</small></a>
      <a class="button" href="#">Baixar<small>versão gratuita</small></a>
    </div>
    <span class="produto_descricao" th:utext="${produto.descricao}"></span>
  </section>
</th:block>
