<!doctype html>
<html lang="pt-br">
  <body>
    <div id="form-container">
      <form class="form" id="form" method="delete" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/delete}">
        <input type="hidden" id="id" name="id" th:value="${command.id}"/>
        <p> Confirma remoção do <span th:text="${#strings.toLowerCase(classe.simpleName)}"/> <strong th:text="${command}"/>? </p>
      </form>

      <div class="left">
        <button class="myButton" id="cancel" onclick="cancel_delete();">Não</button>
      </div>

      <div class="right">
        <button class="myButton" id="submit" onclick="submit_delete();">Sim</button>
      </div>
    </div>
  </body>
</html>
