<!doctype html>
<html lang="pt-br">
  <body>
    <div id="form-container">
      <form class="form" id="form" method="post" th:action="@{/__${#strings.toLowerCase(classe.simpleName)}__/update}">
        <input type="hidden" name="id" th:value="${command.id}" id="id"/>

        <div class="container" th:if="${#strings.equals(classe.simpleName, 'Categoria')}">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" th:value="${command.nome}" class="form-control" id="nome" placeholder="Nome">
          </div>

          <div class="form-group">
            <label for="resumo">Resumo</label>
            <input type="text" name="resumo" th:value="${command.resumo}" class="form-control" id="resumo" placeholder="Resumo">
          </div>

          <div class="form-group">
            <label for="icone">Icone</label>
            <input th:if="${command.icone}" type="hidden" name="icone" th:value="${command.icone.id}"/>
            <input type="file" accept=".png" class="form-control image-uploader" id="icone" th:attr="data-url=@{/imagem/upload}">
          </div>
        </div>

        <div class="container" th:if="${#strings.equals(classe.simpleName, 'Produto')}">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" th:value="${command.nome}" class="form-control" id="nome" placeholder="Nome">
          </div>

          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria" name="categoria.id">
              <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:if="${#strings.equals(categoria, command.categoria)}? 'selected' : ''" th:text="${categoria.nome}"/>
            </select>
          </div>

          <div class="form-group">
            <label for="preco">Pre&ccedil;o</label>
            <input type="text" name="preco" th:value="${command.preco}" class="form-control" id="preco" placeholder="Pre&ccedil;o">
          </div>

          <div class="form-group">
            <label for="nome">Resumo</label>
            <input type="text" name="resumo" th:value="${command.resumo}" class="form-control" id="resumo" placeholder="Resumo">
          </div>

          <div class="form-group">
            <textarea rows="25" cols="80" class="form-control" id="descricao" name="descricao" th:value="${command.descricao}"></textarea>
          </div>

          <div class="form-group">
            <label for="icone">Icone</label>
            <input th:if="${command.icone}" type="hidden" name="icone" th:value="${command.icone.id}"/>
            <input type="file" accept=".png" class="form-control image-uploader" id="icone" th:attr="data-url=@{/imagem/upload}">
          </div>

          <div class="form-group">
            <label for="thumbnails">Thumbnails</label>
            <input th:if="${command.thumbnails}" th:each="thumb : ${command.thumbnails}" type="hidden" name="thumbnails" th:value="${thumb.id}"/>
            <input type="file" accept=".jpg .jpeg" class="form-control image-uploader" id="thumbnails" multiple="multiple" th:attr="data-url=@{/imagem/upload}">
          </div>

          <div class="form-group">
            <label for="versaoGratuita">Vers&atilde;o Gratuita</label>
            <input th:if="${command.versaoGratuita}" th:each="arquivo : ${command.versaoGratuita}" type="hidden" name="versaoGratuita" th:value="${arquivo.id}"/>
            <input type="file" accept=".exe .dmg .rpm .deb" class="form-control file-uploader" id="versaoGratuita" multiple="multiple" th:attr="data-url=@{/arquivo/upload}">
          </div>

          <div class="form-group">
            <label for="versaoPaga">Vers&atilde;o Paga</label>
            <input th:if="${command.versaoPaga}" th:each="arquivo : ${command.versaoPaga}" type="hidden" name="versaoPaga" th:value="${arquivo.id}"/>
            <input type="file" accept=".exe .dmg .rpm .deb" class="form-control file-uploader" id="versaoPaga" multiple="multiple" th:attr="data-url=@{/arquivo/upload}">
          </div>
        </div>

        <div class="container" th:if="${#strings.equals(classe.simpleName, 'Usuario')}">
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" name="username" th:value="${command.username}" placeholder="Login">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="password" th:value="${command.password}" placeholder="Senha">
          </div>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="firstName" th:value="${command.firstName}" placeholder="Nome">
          </div>

          <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" name="lastName" th:value="${command.lastName}" placeholder="Sobrenome">
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${command.email}" placeholder="E-mail">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" name="enabled" class="form-check-input" id="enabled" th:if="${command.enabled}? 'checked' : ''">
            <label class="form-check-label" for="enabled">ativo</label>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" name="locked" class="form-check-input" id="locked" th:if="${command.locked}? 'checked' : ''">
            <label class="form-check-label" for="locked">bloqueado</label>
          </div>

          <div class="form-group">
            <label for="dataExpiracao">Data de expira&ccedil;&atilde;o</label>
            <input type="date" class="form-control" id="dataExpiracao" name="dataExpiracao" th:value="${command.dataExpiracao}" placeholder="Data de expira&ccedil;&atilde;o">
          </div>

          <div class="form-group">
            <label for="credenciais">Credenciais</label>
            <select class="form-control" id="credenciais" name="credenciais" multiple="multiple" size="10">
              <option th:each="credencial : ${credenciais}" th:value="${credencial.id}" th:if="${#lists.contains(command.credenciais, credencial)}? 'selected' : ''" th:text="${credencial.nome}"/>
            </select>
          </div>
        </div>
      </form>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <button class="btn btn-primary" id="cancel" onclick="cancel_update(this);" th:attr="data-id=${command.id}">Cancelar</button>
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <button type="submit" class="btn btn-primary" id="submit" onclick="submit_update(this);">Atualizar</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
