<!doctype html>
<html lang="pt-br">
  <body>
    <div id="form-container">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Credencial</th>
            <th>Data de expira&ccedil;&atilde;o</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="credencial : ${credenciais}">
            <td>
              <input type="checkbox" class="form-check-input" th:id="${credencial.id}" th:attr="data-usuario=${command.id},data-url=@{/usuario/toggle_credencial}" onchange="toggle_credencial(this)"/>
            </td>

            <td th:text="${credencial.nome}"></td>

            <td>
              <input type="date" th:id="${'dataExpiracao_' + credencial.id}"/>
            </td>

            <td>
              <ul>
                <li th:each="autorizacao : ${credencial.autorizacoes}" th:text="${autorizacao.nome}"></li>
              </ul>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>

      <strong>credenciais</strong>
      <p th:text="${#sets.size(command.credenciais)}"></p>
      <ul>
        <li th:each="c : ${command.credenciais}" th:text="${c}"></li>
      </ul>


      <button type="button" class="btn btn-link" id="cancel" th:attr="data-id=${command.id}" onclick="cancel_credencial(this);">Cancelar</button>
    </div>
  </body>
</html>
