<th:block th:fragment="copy">
<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title th:if="${categoria == null and produto == null and pagina == null}" th:text="${geral.titulo}"></title>
    <th:block th:if="${categoria}">
      <title th:each="t : ${categoria.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${geral.titulo + ' | ' + t.conteudo}"></title>
    </th:block>
    <th:block th:if="${produto}">
      <title th:each="t : ${produto.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${geral.titulo + ' | ' + t.conteudo}"></title>
    </th:block>
    <th:block th:if="${pagina}">
      <title th:each="t : ${pagina.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:text="${geral.titulo + ' | ' + t.conteudo}"></title>
    </th:block>
    <link th:href="@{/css/style.css}" rel="stylesheet">
  </head>
  <body onload="show_cart_size(); show_cart_total();">
</th:block>
