<div th:replace="header :: copy"></div>

<div th:replace="navbar :: copy"></div>

<main role="main" class="container">

  <div class="starter-template">
    <div class="row">
      <div class="col-2">
        <div th:replace="sidebar :: copy"></div>
      </div>
      <div class="col-10">
        <div th:if="${index}">
          <div th:replace="content/home :: copy"></div>
        </div>

        <div th:if="${categoria}">
          <div th:replace="content/categoria :: copy"></div>
        </div>

        <div th:if="${produto}">
          <div th:replace="content/produto :: copy"></div>
        </div>

        <div th:if="${forum}">
          <div th:replace="content/forum :: copy"></div>
        </div>

        <div th:if="${topic}">
          <div th:replace="content/topic :: copy"></div>
        </div>

        <div th:if="${pagina}">
          <div th:replace="content/pagina :: copy"></div>
        </div>

        <div th:if="${cart}">
          <div th:replace="content/cart :: copy"></div>
        </div>

        <div th:if="${orders}">
          <div th:replace="content/orders :: copy"></div>
        </div>

        <div th:if="${order}">
          <div th:replace="content/order :: copy"></div>
        </div>
      </div>
    </div>
  </div>

</main>

<div th:replace="footer :: copy"></div>
