<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style media="screen">
    /* Show it is fixed to the top */
    body {
      min-height: 75rem;
      padding-top: 4.5rem;
    }
  </style>
  <title>Home</title>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img th:src="@{/img/bootstrap-solid.svg}" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong th:text="${geral.titulo}"></strong>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li th:each="p : ${paginas}" th:unless="${pagina.parent}" th:class="${#strings.equals(pagina.titulo, p.titulo)}? 'nav-item active' : 'nav-item'">
          <a class="nav-link" th:href="@{/page/__${p.slug}__}">
            <strong th:text="${p.titulo}"></strong>
            <span class="sr-only" th:if="${#strings.equals(pagina.titulo, p.titulo)}">(current)</span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav justify-content-end">
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" th:href="@{/signin}">Sign in</a>
        </li>

        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" th:href="@{/signup}">Sign up</a>
        </li>

        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${usuario}">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/admin}" sec:authorize="hasPermission(#user, 'admin')">Admin</a>
            <div class="dropdown-divider" sec:authorize="hasPermission(#user, 'admin')"></div>
            <a class="dropdown-item" th:href="@{/profile}">Cadastro</a>
            <a class="dropdown-item" th:href="@{/orders}">Pedidos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/logout}">Sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <ul class="nav flex-column">
            <li class="nav-item" th:each="c : ${categorias}">
              <a th:class="${#strings.equals(categoria.nome, c.nome)}? 'nav-link active' : 'nav-link'" th:href="@{/c/__${c.nome}__}" th.text="${c.nome}"></a>
            </li>
          </ul>
        </div>

        <div class="col-lg-10" th:if="${index}">
          <div class="container">
            <div class="row no-gutters" th:each="c : ${categorias}">
              <div class="jumbotron">
                <h1 class="display-4" th:text="${c.nome}"></h1>
                <p class="lead" th:text="${c.resumo}"></p>
                <a class="btn btn-primary btn-lg" th:href="@{/c/__${c.nome}}" role="button">Mais</a>
              </div>

              <div class="col" th:each="i : ${#numbers.sequence( 1, 3)}">
                <div class="card" style="width: 18rem;">
                  <img th:src="@{/imagem/download/__${p.icone}__}" class="card-img-top" th:alt="${p.nome}">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${p.nome}"></h5>
                    <p class="card-text" th:text="${p.resumo}"></p>
                    <a th:href="@{/p/__${p.nome}__}" class="btn btn-primary">Ver detalhes</a>
                  </div>
                </div>
              </div>
            </div> <!--row-->
          </div>
        </div>

        <div class="col-lg-10" th:if="${categoria}">
        </div>

        <div class="col-lg-10" th:if="${produto}">
        </div>

        <div class="col-lg-10" th:if="${pagina}">
        </div>

        <div class="col-lg-10" th:if="${cart}">
        </div>

        <div class="col-lg-10" th:if="${orders}">
        </div>

        <div class="col-lg-10" th:if="${order}">
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
