<div class="grid-container">
  <div th:replace="header :: copy"></div>

  <h5>Login</h5>

  <form method="post" th:action="@{/doLogin}">
    <p> <input class="form-control" type="text" name="login" placeholder="login"/> </p>

    <p> <input class="form-control" type="password" name="senha" placeholder="senha"/> </p>

    <p> <button type="submit" class="btn btn-primary">Login</button> </p>

    <p> <input class="checkbox" type="checkbox" value="remember-me"> Remember me </input> </p>

    <p><a th:href="@{/usuario/register}">Não tem cadastro? Clique aqui para se cadatrar</a></p>

    <p><a th:href="@{/usuario/recoverPassword}">Esqueceu a senha? Clique aqui para recuperar</a></p>
  </form>

  <div th:replace="footer :: copy"></div>
</div>
