<div th:replace="header :: copy"></div>

<div th:replace="navbar :: copy"></div>

<form class="form-signin" id="form" method="post" th:action="@{/doLogin}">
  <h1 class="h3 mb-3 font-weight-normal">
    <i class="fas fa-sign-in-alt"></i> Entrar
  </h1>

  <label for="username" class="sr-only">Username</label>
  <input type="text" name="login" id="username" class="form-control" placeholder="Username" required autofocus>

  <label for="password" class="sr-only">Password</label>
  <input type="password" name="senha" id="password" class="form-control" placeholder="Password" required>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

  <p class="mt-5 mb-3 text-muted">
    <a th:href="@{/usuario/register}">Não tem cadastro? Clique aqui para se cadatrar</a>
  </p>

  <p class="mt-5 mb-3 text-muted">
    <a th:href="@{/recover/password}">Esqueceu a senha? Clique aqui para recuperar</a>
  </p>
</form>

<div th:replace="footer :: copy"></div>
