<div th:replace="header :: copy"></div>

<div class="card" style="width: 18rem;">
  <img th:src="@{/images/icon-signin.png}" class="card-img-top" alt="Login">
  <form method="post" th:action="@{/doLogin}">
    <div class="card-body">
      <h5 class="card-title">Login</h5>

      <p class="card-text">
        <input class="form-control" type="text" name="login" placeholder="login"/> <br/>
        <input class="form-control" type="password" name="senha" placeholder="senha"/> <br/>
      </p>

      <button type="submit" class="btn btn-primary">Login</button>

      <label>
        <input class="checkbox" type="checkbox" value="remember-me"> Remember me </input>
      </label>

      <p><a th:href="@{/usuario/register}">Não tem cadastro? Clique aqui para se cadatrar</a></p>
    </div>
  </form>
</div>

<div th:replace="footer :: copy"></div>
