<th:block th:fragment="copy">
<nav class="navbar">
  <ul>
    <li>
      <img th:if="${geral.logo}" th:src="@{/imagem/download/__${geral.logo.id}__}" th:alt="${geral.titulo}">
    </li>

    <li>
      <a th:href="@{/}" th:text="${geral.titulo}"></a>
    </li>

    <li th:if="${pagina}" th:each="p : ${paginas}">
      <th:block th:each="t : ${p.titulo}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}">
        <a th:unless="${p.parent}" th:href="@{/page/__${t.slug()}__}" th:text="${t.conteudo}"></a>
      <th:block>
    </li>

    <li th:unless="${pagina}" th:each="p : ${paginas}">
      <th:block th:each="t : ${p.titulo}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}">
        <a th:unless="${p.parent}" th:href="@{/page/__${t.slug()}__}" th:text="${t.conteudo}"></a>
      </th:block>
    </li>

    <div class="right">
      <li sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>
      </li>

      <li sec:authorize="isAnonymous()">
        <a th:href="@{/usuario/register}">Cadastro</a>
      </li>
    </div>

    <div class="right">
      <li sec:authorize="isAuthenticated()">
        <a id="cart" th:href="@{/cart}"><img th:src="@{/images/icon_shopping_cart.png}" width="24" height="24" alt="cesta de compras"/> <span id="cart_size" th:attr="data-usuario=${usuario.id}, data-url=@{/usuario/cart_size}" style="display: none;"></span></a>
      </li>

      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/orders}"><img th:src="@{/images/icon_order.png}" width="24" height="24" alt="pedidos"/></a>
      </li>

      <li sec:authorize="isAuthenticated()">
        <a href="#" th:text="${usuario}"></a>
      </li>

      <li sec:authorize="hasPermission(#user, 'admin')">
        <a th:href="@{/admin}"><img th:src="@{/images/icon_admin.png}" width="24" height="24" alt="admin"/></a>
      </li>

      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}"><img th:src="@{/images/icon_logout.png}" width="24" height="24" alt="sair"/></a>
      </li>
    </div>
  </ul>
</nav>
</th:block>
