<div th:replace="header :: copy"></div>

<div th:replace="navbar :: copy"></div>

<div th:replace="sidebar :: copy"></div>

<main class="main">
  <form class="form-container" id= form method="post" th:action="@{/usuario/recoverPassword}">
    <div class="form-row">
      <div class="col-75">
        <input type="email" name="email" placeholder="E-mail"/>
      </div>
    </div>

    <div class="form-row">
      <div class="col-75">
        <button type="submit" class="button">Recover</button>
      </div>
    </div>
  </form>
</main>

<div th:replace="footer :: copy"></div>
