<div th:replace="header :: copy"></div>

<div th:replace="navbar :: copy"></div>

<div class="container">
  <form class="form" id="form" method="post" th:action="@{/usuario/recoverPassword}">
    <h1 class="h3 mb-3 font-weight-normal">
      <i class="fas fa-sign-in-alt"></i> Recuperer senha
    </h1>

    <label for="email" class="sr-only">E-mail</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
  </form>
</div>

<div th:replace="footer :: copy"></div>
