<div class="grid-container">
  <div th:replace="header :: copy"></div>

  <h5 class="card-title">Cadastrar</h5>

  <form method="post" th:action="@{/usuario/register}">
    <p> <input class="form-control" type="text" name="username" placeholder="login"/> </p>

    <p> <input class="form-control" type="password" name="password" placeholder="senha"/> </p>

    <p> <input class="form-control" type="text" name="firstName" placeholder="nome"/> </p>

    <p> <input class="form-control" type="text" name="lastName" placeholder="sobrenome"/> </p>

    <p> <input class="form-control" type="email" name="email" placeholder="email"/> </p>

    <p> <button type="submit" class="btn btn-primary">Cadastrar</button> </p>

    <p> <a th:href="@{/login}">Já tem cadastro? Clique aqui para efetuar login</a> </p>
  </form>

  <div th:replace="footer :: copy"></div>
</div>
