<div th:replace="header :: copy"></div>

<div th:replace="navbar :: copy"></div>

<div th:replace="sidebar :: copy"></div>

<main class="main">
    <h3>Login</h3>

    <form class="form-container" id="form" method="post" th:action="@{/usuario/register}">
      <div class="form-row">
        <div class="col-75">
          <input type="text" name="username" placeholder="Login"/>
        </div>
      </div>

      <div class="form-row">
        <div class="col-75">
          <input type="password" name="password" placeholder="Senha"/>
        </div>
      </div>

      <div class="form-row">
        <div class="col-75">
          <input type="text" name="firstName" placeholder="Nome"/>
        </div>
      </div>

      <div class="form-row">
        <div class="col-75">
          <input type="text" name="lastName" placeholder="Sobrenome"/>
        </div>
      </div>

      <div class="form-row">
        <div class="col-75">
          <input type="email" name="email" placeholder="E-mail"/>
        </div>
      </div>

      <div class="form-row">
        <div class="col-75">
          <button type="button" class="button" onclick="register();">Cadastre-se</button>
        </div>
      </div>

      <div class="alert-ok" id="ok" style="display: none;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Sucesso!</strong> Cadastro realizado com sucesso.
      </div>

      <div class="alert-error" id="error" style="display: none;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erro!</strong> Não foi possivel realizar o cadastro.
      </div>
    </form>
</main>

<div th:replace="footer :: copy"></div>
