<th:block th:fragment="copy">
  <ul class="nav flex-column">
    <li class="nav-item" th:if="${categoria == null and produto == null}" th:each="c : ${categorias}">
      <a class="nav-link" th:href="@{/c/__${c.nome}__}" th:text="${c.nome}"></a>
    </li>

    <li class="nav-item" th:if="${produto}" th:each="c : ${categorias}">
      <a th:with="categoria = ${produto.categoria}" th:href="@{/c/__${c.nome}__}" th:class="${#strings.equals(categoria.nome, c.nome)}? 'nav-link active' : 'nav-link'" th:text="${c.nome}"></a>
    </li>

    <li class="nav-item" th:if="${categoria}" th:each="c : ${categorias}">
      <a th:href="@{/c/__${c.nome}__}" th:class="${#strings.equals(categoria.nome, c.nome)}? 'nav-link active' : 'nav-link'" th:text="${c.nome}"></a>
    </li>
  </ul>
</th:block>
