<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Confirmação do pedido <span th:text="${object.transactionId}"></span></h1>
      <p class="lead">Você acabou de se realizar um pedido no site <a href="http://localhost:8080">Kleber App Store</a>.</p>
      <table>
        <tr>
          <td>Data:</td>
          <td><span th:text="${#dates.format(object.dataCompra, 'dd/MMM/yyyy')}"/></td>
        </tr>
        <tr>
          <td>Método de pagamento:</td>
          <td><span th:text="${object.metodoPagamento}"/></td>
        </tr>
      </table>
      <h3>Produtos comprados</h3>
      <ul class="list-group">
        <li th:each="item : ${object.produtos}" class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" th:text="${item.nome}"></h5>
            <small th:text="${#numbers.formatCurrency(item.preco)}"></small>
          </div>
          <p class="mb-1" th:each="t : ${item.resumo}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:utext="${t.conteudo}"></p>
        </li>
      </ul>
      <hr class="my-4">
      <p>Para baixar os produtos comprados na loja, clique no botão abaixo.</p>
      <a class="btn btn-primary btn-lg" th:href="@{/pedido/__${object.id}__}" role="button">Acessar</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
