<th:block th:fragment="copy">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100" id="btn_upload_icone" data-target="icone" onclick="select_imagem(this);">
              <img th:if="${command.icone}" id="single_image" th:src="@{/imagem/download/__${command.icone.id}__}">
              <img th:unless="${command.icone}" id="empty_image" th:src="@{/images/icon_add_imagem.png}"/>
              <input type="file" accept="png" class="image-uploader" id="icone" style="display: none;" th:attr="data-target=${'icone'}, data-url=@{/imagem/upload}, data-path=@{/imagem/download}" onchange="image_upload(this);"/>
            </a>
          </div>
        </div>
      </div>

      <div class="col-8">
        <ul class="nav nav-tabs" id="nome" role="tablist">
          <li th:each="idioma,stat : ${idiomas.listaDeIdiomas}" class="nav-item">
            <a th:class="${stat.index == 0}? 'nav-link active' : 'nav-link'" th:id="${#strings.substringBefore(idioma,',') + '-tab'}" data-toggle="tab" th:href="${'#' + #strings.substringBefore(idioma,',')}" role="tab" th:attr="aria-controls=${#strings.substringBefore(idioma,',')}" aria-selected="true" th:text="${#strings.substringBefore(idioma,',')}"></a>
          </li>
        </ul>

        <div class="tab-content">
          <div th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:class="${stat.index == 0}? 'tab-pane active' : 'tab-pane'" th:id="${#strings.substringBefore(idioma,',')}" role="tabpanel" th:attr="aria-labelledby=${#strings.substringBefore(idioma,',')}">
            <input type="hidden" th:name="${'nome[' + stat.index + '].id'}" th:each="value : ${command.nome}" th:if="${#strings.equals(value.idioma, idioma)}" th:value="${value.id}"/>

            <input type="hidden" th:name="${'nome[' + stat.index + '].idioma'}" th:value="${idioma}"/>

            <div class="form-group">
              <label for="nome">nome</label>
              <input type="text" th:name="${'nome[' + stat.index + '].conteudo'}" class="form-control" id="nome">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
