<th:block th:fragment="copy">
  <div class="row">
    <div class="col-25">
      <label for="icone">Icone</label>
    </div>
    <div class="col-75">
      <input type="hidden" th:field="*{icone}"/>
      <input type="file" accept=".png" class="image-uploader" id="icone" th:attr="data-url=@{/imagem/upload}">
    </div>
  </div>

  <!-- Tab links -->
  <div class="tab_idioma">
    <button type="button" th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:class="${stat.index == 0}? 'tabidioma active' : 'tabidioma'" th:id="${#strings.substringBefore(idioma,',') + '-tab'}" th:attr="data-id=${#strings.substringBefore(idioma,',')}" onclick="openIdiomaTab(this);" th:text="${#strings.substringBefore(idioma,',')}"></button>
  </div>

  <!-- Tab content -->
  <div th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:id="${#strings.substringBefore(idioma,',')}" class="tabcontent_idioma" th:style="${stat.index == 0}? 'display: block;': 'display: none;'">
    <div class="row">
      <div class="col-25">
        <label for="nome">Nome</label>
      </div>
      <div class="col-75">
        <input type="hidden" th:name="${'nome[' + stat.index + '].idioma'}" th:value="${idioma}"/>
        <th:block th:if="${command.nome}">
          <input type="text" th:name="${'nome[' + stat.index + '].conteudo'}" th:each="value : ${command.nome}" th:if="${#strings.equals(value.idioma, idioma)}" th:value="${value.conteudo}" class="form-control" id="nome" placeholder="Nome">
        </th:block>
        <th:block th:unless="${command.nome}">
          <input type="text" th:name="${'nome[' + stat.index + '].conteudo'}" id="nome" placeholder="Nome">
        </th:block>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="resumo">Resumo</label>
      </div>
      <div class="col-75">
        <input type="hidden" th:name="${'nome[' + stat.index + '].idioma'}" th:value="${idioma}"/>
        <th:block th:if="${command.resumo}">
          <input type="text" th:name="${'resumo[' + stat.index + '].conteudo'}" th:each="value : ${command.resumo}" th:if="${#strings.equals(value.idioma, idioma)}" th:value="${value.conteudo}" class="form-control" id="resumo" placeholder="Resumo">
        </th:block>
        <th:block th:unless="${command.resumo}">
          <input type="text" th:name="${'resumo[' + stat.index + '].conteudo'}" id="resumo" placeholder="Resumo">
        </th:block>
      </div>
    </div>
  </div>
</th:block>
