<th:block th:fragment="copy">
  <div class="container">
    <input type="hidden" th:field="*{id}"/>

    <div class="form-group">
      <label for="categoria">usuario</label>
      <select class="form-control" id="usuario" th:field="*{usuario.id}">
        <option th:each="u : ${usuarios}" th:value="${u.id}" th:text="${u}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="credenciais">cesta</label>
      <select multiple="multiple" size="10" class="form-control" id="cesta" th:field="*{cesta.produtos}">
        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
      </select>
    </div>
  </div>
</th:block>
