<th:block th:fragment="copy">
  <div class="row">
    <div class="col-25">
      <label for="parent">Pagina m&atilde;e</label>
    </div>
    <div class="col-75">
      <select class="form-control" id="parent" th:field="*{parent}">
        <option value=""></option>
        <option th:each="pagina : ${paginas}" th:value="${pagina.id}" th:selected="${#strings.equals(pagina, command.parent)}" th:text="${pagina.titulo}">
          <span th:each="t : ${pagina.titulo}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:href="@{/c/__${t.conteudo}__}" th:text="${t.conteudo}"></span>
        </option>
      </select>
    </div>
  </div>

  <!-- Tab links -->
  <div class="tab_idioma">
    <button type="button" th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:class="${stat.index == 0}? 'tabidioma active' : 'tabidioma'" th:id="${#strings.substringBefore(idioma,',') + '-tab'}" th:attr="data-id=${#strings.substringBefore(idioma,',')}" onclick="openIdiomaTab(this)" th:text="${#strings.substringBefore(idioma,',')}"></button>
  </div>

  <!-- Tab content -->
  <div th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:id="${#strings.substringBefore(idioma,',')}" class="tabcontent_idioma" th:style="${stat.index == 0}? 'display: block;': 'display: none;'">
    <div class="row">
      <div class="col-75">
        <input type="hidden" th:name="${'titulo[' + stat.index + '].idioma'}" th:value="${idioma}"/>
        <th:block th:if="${command.titulo}">
          <input type="text" th:name="${'titulo[' + stat.index + '].conteudo'}" th:each="value : ${command.titulo}" th:if="${#strings.equals(value.idioma, idioma)}" th:value="${value.conteudo}" class="form-control" placeholder="Titulo">
        </th:block>
        <th:block th:unless="${command.titulo}">
          <input type="text" th:name="${'titulo[' + stat.index + '].conteudo'}" class="form-control" placeholder="Titulo">
        </th:block>
      </div>
    </div>

    <div class="row">
      <div class="col-75">
        <input type="hidden" th:name="${'descricao[' + stat.index + '].idioma'}" th:value="${idioma}"/>
        <th:block th:if="${command.descricao}">
          <textarea class="summernote" th:name="${'descricao[' + stat.index + '].conteudo'}" th:each="value : ${command.descricao}" th:if="${#strings.equals(value.idioma, idioma)}" th:text="${value.conteudo}"></textarea>
        </th:block>
        <th:block th:unless="${command.descricao}">
          <textarea class="summernote" th:name="${'descricao[' + stat.index + '].conteudo'}"></textarea>
        </th:block>
      </div>
    </div>
  </div>
</th:block>
