<th:block th:fragment="copy">
<input type="hidden" name="id" th:value="${command.id}"/>

<div class="form-group">
  <label for="parent">Pagina m&atilde;e</label>
  <select class="form-control" id="parent" name="parent">
    <option value=""></option>
    <option th:each="pagina : ${paginas}" th:value="${pagina.id}" th:text="${pagina.titulo}"/>
  </select>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item" th:each="idioma,stat : ${idiomas.listaDeIdiomas}">
    <a th:class="${stat.index == 0}? 'nav-link show active' : 'nav-link'" th:id="${idioma}" data-toggle="tab" th:href="${'#' + #strings.substringBefore(idioma,',')}" role="tab" th:attr="aria-controls=${#strings.substringBefore(idioma,',')},aria-selected=${stat.index == 0? 'true' : 'false'}" th:text="${idioma}"></a>
  </li>
</ul>

<div class="tab-content">
  <div th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:class="${stat.index == 0}? 'tab-pane show active' : 'tab-pane fade'" th:id="${#strings.substringBefore(idioma,',')}" role="tabpanel" th:attr="aria-labelledby=${#strings.substringBefore(idioma,',') + '_tab'}">
    <div class="form-group">
      <label for="nome">Titulo</label>
      <input type="hidden" th:name="${'titulo[' + stat.index + '].idioma'}" th:value="${idioma}"/>
      <input type="text" th:name="${'titulo[' + stat.index + '].conteudo'}" class="form-control" placeholder="Titulo">
    </div>

    <div class="form-group">
      <input type="hidden" th:name="${'descricao[' + stat.index + '].idioma'}" th:value="${idioma}"/>
      <textarea class="summernote" th:name="${'descricao[' + stat.index + '].conteudo'}"></textarea>
    </div>
  </div>
</div>
</th:block>
