<th:block th:fragment="copy">
  <div class="row">
    <div class="col-25">
      <label for="senha">transactionId</label>
    </div>
    <div class="col-75">
      <input type="text" id="transactionId" name="transactionId" th:value="${command.transactionId}" placeholder="transactionId">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="login">M&eacute;todo de Pagamento</label>
    </div>
    <div class="col-75">
      <input type="text" id="metodoPagamento" name="metodoPagamento" th:value="${command.metodoPagamento}" placeholder="M&eacute;todo de Pagamento">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="dataExpiracao">Data da compra</label>
    </div>
    <div class="col-75">
      <input type="date" id="dataCompra" name="dataCompra" th:value="${command.dataCompra}">
    </div>
  </div>

  <div class="row">
    <div class="col-75">
      <table>
        <tr>
          <td>
            <select multiple="multiple" size="15" id="selectLeft">
              <th:block th:if="${command.produtos}">
                <option th:each="option : ${produtos}" th:unless="${#lists.contains(command.produtos, option)}" th:value="${option.id}">
                  <span th:each="t : ${option.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:href="@{/c/__${t.conteudo}__}" th:text="${t.conteudo}"></span>
                <option>
              </th:block>
              <th:block th:unless="${command.produtos}">
                <option th:each="option : ${produtos}" th:value="${option.id}">
                  <span th:each="t : ${option.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:href="@{/c/__${t.conteudo}__}" th:text="${t.conteudo}"></span>
                <option>
              </th:block>
            </select>
          </td>
          <td>
            <p> <button type="button" class="button" id="right" onclick="move_right();"> &gt;&gt; </button> </p>
            <p> <button type="button" class="button" id="left" onclick="move_left();"> &lt;&lt; </button> </p>
          </td>
          <td>
            <select multiple="multiple" size="15" id="selectRight" name="produtos">
              <th:block th:if="${command.produtos}">
                <option th:each="option : ${command.produtos}" th:value="${option.id}">
                  <span th:each="t : ${option.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:href="@{/c/__${t.conteudo}__}" th:text="${t.conteudo}"></span>
                <option>
              </th:block>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>
</th:block>
