<th:block th:fragment="copy">
  <input type="hidden" name="forum" th:value="${command.forum}"/>

  <div class="row">
    <div class="col-25">
      <label for="icone">Icone</label>
    </div>
    <div class="col-75">
      <input th:if="${command.icone}" type="hidden" th:field="*{icone}"/>
      <input type="file" accept=".png" class="image-uploader" id="icone" th:attr="data-url=@{/imagem/upload}">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="categoria">Categoria</label>
    </div>
    <div class="col-75">
      <select class="form-control" id="categoria" th:field="*{categoria}">
        <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:selected="${#strings.equals(categoria, command.categoria)}">
          <span th:each="t : ${categoria.nome}" th:if="${#strings.equals(#strings.substringBefore(t.idioma,','), #strings.replace(#locale,'_','-'))}" th:href="@{/c/__${t.conteudo}__}" th:text="${t.conteudo}"></span>
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="preco">Pre&ccedil;o</label>
    </div>
    <div class="col-75">
      <input type="text" th:field="*{preco}" class="form-control" id="preco" placeholder="Pre&ccedil;o">
    </div>
  </div>

  <!-- Tab links -->
  <div class="tab_idioma">
    <button type="button" th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:class="${stat.index == 0}? 'tabidioma active' : 'tabidioma'" th:id="${#strings.substringBefore(idioma,',') + '-tab'}" th:attr="data-id=${#strings.substringBefore(idioma,',')}" onclick="openIdiomaTab(this)" th:text="${#strings.substringBefore(idioma,',')}"></button>
  </div>

  <!-- Tab content -->
  <div th:each="idioma,stat : ${idiomas.listaDeIdiomas}" th:id="${#strings.substringBefore(idioma,',')}" class="tabcontent_idioma" th:style="${stat.index == 0}? 'display: block;': 'display: none;'">
    <div class="row">
      <div class="col-25">
        <label for="nome">Nome</label>
      </div>
      <div class="col-75">
        <input type="hidden" th:name="${'nome[' + stat.index + '].idioma'}" th:value="${idioma}"/>
        <th:block th:if="${command.nome}">
          <input type="text" th:name="${'nome[' + stat.index + '].conteudo'}" th:each="value : ${command.nome}" th:if="${#strings.equals(value.idioma, idioma)}" th:value="${value.conteudo}" class="form-control" id="nome" placeholder="Nome">
        </th:block>
        <th:block th:unless="${command.nome}">
          <input type="text" th:name="${'nome[' + stat.index + '].conteudo'}" class="form-control" id="nome" placeholder="Nome">
        <th:block>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="resumo">Resumo</label>
      </div>
      <div class="col-75">
        <input type="hidden" th:name="${'resumo[' + stat.index + '].idioma'}" th:value="${idioma}"/>
        <th:block th:if="${command.resumo}">
          <input type="text" th:name="${'resumo[' + stat.index + '].conteudo'}" th:each="value : ${command.resumo}" th:if="${#strings.equals(value.idioma, idioma)}" th:value="${value.conteudo}" class="form-control" id="resumo" placeholder="Resumo">
        </th:block>
        <th:block th:unless="${command.resumo}">
          <input type="text" th:name="${'resumo[' + stat.index + '].conteudo'}" class="form-control" id="resumo" placeholder="Resumo">
        </th:block>
      </div>
    </div>

    <div class="row">
      <div class="col-75">
        <input type="hidden" th:name="${'descricao[' + stat.index + '].idioma'}" th:value="${idioma}"/>
        <th:block th:if="${command.descricao}">
          <textarea class="summernote" id="descricao" th:name="${'descricao[' + stat.index + '].conteudo'}" th:each="value : ${command.descricao}" th:if="${#strings.equals(value.idioma, idioma)}" th:text="${value.conteudo}"></textarea>
        </th:block>
        <th:block th:unless="${command.descricao}">
          <textarea class="summernote" id="descricao" th:name="${'descricao[' + stat.index + '].conteudo'}"></textarea>
        </th:block>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="thumbnails">Thumbnails</label>
    </div>
    <div class="col-75">
      <input th:each="thumb : ${command.thumbnails}" type="hidden" name="icone" th:value="${thumb.id}"/>
      <input type="file" accept=".jpg .jpeg" class="form-control image-uploader" id="thumbnails" multiple="multiple" th:attr="data-url=@{/imagem/upload}">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="versaoGratuita">Vers&atilde;o Gratuita</label>
    </div>
    <div class="col-75">
      <input th:each="arq : ${command.versaoGratuita}" type="hidden" name="icone" th:value="${arq.id}"/>
      <input type="file" accept=".exe .dmg .rpm .deb" class="form-control file-uploader" id="versaoGratuita" multiple="multiple" th:attr="data-url=@{/arquivo/upload}">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="versaoGratuita">Vers&atilde;o Paga</label>
    </div>
    <div class="col-75">
      <input th:each="arq : ${command.versaoPaga}" type="hidden" name="icone" th:value="${arq.id}"/>
      <input type="file" accept=".exe .dmg .rpm .deb" class="form-control file-uploader" id="versaoPaga" multiple="multiple" th:attr="data-url=@{/arquivo/upload}">
    </div>
  </div>
</th:block>
