<th:block th:fragment="copy">
  <div class="form-group">
    <label for="username">username</label>
    <input type="text" th:field="*{username}" class="form-control" id="username"/>
  </div>

  <div class="form-group">
    <label for="password">password</label>
    <input type="password" th:field="*{password}" class="form-control" id="password"/>
  </div>

  <div class="form-group">
    <label for="firstName">nome</label>
    <input type="text" th:field="*{firstName}" class="form-control" id="firstName"/>
  </div>

  <div class="form-group">
    <label for="lastName">sobrenome</label>
    <input type="text" th:field="*{lastName}" class="form-control" id="lastName"/>
  </div>

  <div class="form-group">
    <label for="email">e-mail</label>
    <input type="email" th:field="*{email}" class="form-control" id="email">
  </div>

  <div class="form-group form-check">
    <input type="checkbox" th:field="*{enabled}" class="form-check-input" id="enabled">
    <label class="form-check-label" for="enabled">ativo</label>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" th:field="*{locked}" class="form-check-input" id="locked">
    <label class="form-check-label" for="locked">bloqueado</label>
  </div>

  <div class="form-group">
    <label for="dataExpiracao">data de expiração</label>
    <input type="date" th:field="*{dataExpiracao}" class="form-control" id="dataExpiracao">
  </div>

  <div class="form-group">
    <label for="credenciais">credenciais</label>
    <select multiple="multiple" class="form-control" id="credenciais" th:field="*{credenciais}">
      <option th:each="credencial : ${credenciais}" th:value="${credencial.id}" th:text="${credencial.nome}"></option>
    </select>
  </div>
</th:block>
