<th:block th:fragment="copy">
<input type="hidden" name="id" th:value="${command.id}"/>

<div class="form-group">
  <label for="login">Login</label>
  <input type="text" class="form-control" id="login" name="username" placeholder="Login">
</div>

<div class="form-group">
  <label for="senha">Senha</label>
  <input type="password" class="form-control" id="senha" name="password" placeholder="Senha">
</div>

<div class="form-group">
  <label for="nome">Nome</label>
  <input type="text" class="form-control" id="nome" name="firstName" placeholder="Nome">
</div>

<div class="form-group">
  <label for="sobrenome">Sobrenome</label>
  <input type="text" class="form-control" id="sobrenome" name="lastName" placeholder="Sobrenome">
</div>

<div class="form-group">
  <label for="email">E-mail</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
</div>

<div class="form-group form-check">
  <input type="checkbox" name="enabled" class="form-check-input" id="enabled">
  <label class="form-check-label" for="enabled">ativo</label>
</div>

<div class="form-group form-check">
  <input type="checkbox" name="locked" class="form-check-input" id="locked">
  <label class="form-check-label" for="locked">bloqueado</label>
</div>

<div class="form-group">
  <label for="dataExpiracao">Data de expira&ccedil;&atilde;o</label>
  <input type="date" class="form-control" id="dataExpiracao" name="dataExpiracao" placeholder="Data de expira&ccedil;&atilde;o">
</div>

<div class="form-group">
  <label for="credenciais">Credenciais</label>
  <select class="form-control" id="credenciais" name="credenciais[]" multiple="multiple" size="10">
    <option th:each="credencial : ${credenciais}" th:value="${credencial.id}" th:text="${credencial.nome}"/>
  </select>
</div>
</th:block>
