<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body th:fragment="body">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">username</th>
          <th scope="col">first name</th>
          <th scope="col">last name</th>
          <th scope="col">e-mail</th>
          <th scope="col">enabled</th>
          <th scope="col">locked</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody id="usuario"></tbody>
    </table>
  </body>
</html>
