<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body th:fragment="body">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">data do pedido</th>
          <th scope="col">quantidade</th>
          <th scope="col">total</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody id="pedidos"></tbody>
    </table>
  </body>
</html>
